[2018-11-29 03:56] ggalibert commented on #378
Sounds good.

[2018-11-29 05:11] ocehugo commented on #385
I know but in my limited mindset I think the DEPTH should be present in all mooring files, regardless of the type of instrument.
I can see a reason to avoid writing a DEPTH variable with the same size as TEMP or PSAL for example. Although one can think it's a waste of bits (say for "constant" depth - aqualoggers_T), the netcdf format is smart enough to not waste more than a few bytes for a constan

[2018-11-29 05:25] ocehugo opened #387 "PATUN file lying in madagascar"
@mhidas

Blame file:

IMOS/ANMN/PA/PATUN/Temperature/IMOS_ANMN-PA_TZ_20100209T230030Z_PATUN_FV01_PATUN-1002b-Aqualogger-520T-164_END-20110114T103030Z_C-20180827T012157Z.nc.html

You can see in the portal if you drag the map towards africa!

[2018-11-29 23:05] ggalibert commented on #386
Please open a new issue for this. Also, I think we can close this one.

[2018-11-29 23:09] atkinsn commented on #378
Title change agreed to by BOM, so edited in our catalogue.

[2018-11-29 23:09] #378 closed

[2018-11-29 23:46] ggalibert opened #388 "Aggregating ACORN SAG wave delayed mode collection"
The portal fails to aggregate the whole collection of ACORN wave data from SAG because of a change in the grid of the NetCDF files.

Until 2011-04-01 00:30:00 UTC (included) latitude is defined as follow:
[code]

But from 2011-04-01 01:30:00 UTC (included) it is:
[code]

The grid has slightly changed and LATITUDE is ordered increasingly as opposed to decreasingly before.

[2018-11-29 23:58] ggalibert commented on #388
Files covering the period 2011-04-01 01:30 to 2018-09-30 (end) were produced first in 2017-12, while the files covering the period 2009-12-02 (start) to 2011-04-01 00:30 were produced in 2018-02.

The period 2011-04-01 01:30 to 2018-09-30 (end) might need to be re-processed on the same grid as the one used for the more recently produced files.

[2018-11-30 00:47] scosoli commented on #388
will check what has happened with the grid. I have not changed it as far as I am aware but something may have happened when transitioning to a new processing machine. what priority has to you this modifiction? we're all quite busy until December 14

[2018-11-30 01:02] ggalibert commented on #388
@scosoli no worries this can be low priority and will be kept open here until you have time to look at this.

[2018-11-30 01:35] ggalibert commented on #388
@yashahoo please have a look.

[2018-11-30 01:48] yashahoo commented on #388
I believe I started processing these 2017q4, so I am using Simon's more recent grid files. Once we figure out the problem I will re-process the early years with new grid.

[2018-12-02 21:25] jonescc opened #389 "Chunking of sstaars netcdf file causing memory issues for ncwms tile rendering in prod"
See https://github.com/aodn/issues/issues/338

[2018-12-02 22:42] ggalibert commented on #389
The chunking has been set so that it represents the whole geographic coverage of the product for one time step:
[code]

Since we would want to display the whole geographic coverage for any time step, I didn't think it would make any difference to set the chunking to something smaller than the whole geographic coverage.

What would you suggest?

[2018-12-02 22:50] jonescc commented on #389
We have openlayers set to break layers up into tiles to improve performance.  Each tile will be for a specific geographic region on the map (bbox).  The bbox will depend on the zoom level.

If the chunk contains the whole geographic coverage then the rendering of each tile requires the whole geographic extent to be loaded into memory - hence multiplying out the required memory by the number of til

[2018-12-02 23:08] mhidas commented on #385
:+1: Thanks for reporting.

[2018-12-03 03:57] ggalibert commented on #389
I have re-generated the dataset with 25 chunks (it should keep the size of a chunk at around 4MB) and uploaded it to S3. It works much better in prod already.

[2018-12-03 03:57] #389 closed

[2018-12-03 23:00] ocehugo commented on #261
FYI: The following files, as of last month (when we copied the data from the IMOS bucket), still have missing metadata:

IMOS_SOOP-SST_ST_20160202T235900Z_VMQ9273_FV01_C-20160203T145107Z.nc
IMOS_SOOP-SST_ST_20160130T000000Z_VNCF_FV01_C-20160131T145036Z.nc

They didn't pass the DEVL requirements for metadata.

[2018-12-04 22:06] mhidas commented on #387
The offending file has been corrected by the facility.

[2018-12-04 22:06] #387 closed

[2018-12-04 22:08] mhidas commented on #387
The ID of the fixed file is IMOS/ANMN/PA/PATUN/Temperature/IMOS_ANMN-PA_TZ_20100209T230030Z_PATUN_FV01_PATUN-1002b-Aqualogger-520T-164_END-20110114T103030Z_C-20181204T072340Z.nc

[2018-12-05 00:58] atkinsn commented on #381
I need to come up with a consistent label for urls to S3 for another task I am doing. I am not sure i like @ggalibert's suggestion above "Files to S3 storage" - as requires the user to know what S3 refers to. Can we come up with something else a bit more explanatory @ggalibert and @smancini ?

To be consistent with the thredds label (NetCDF files via THREDDS catalog), something more like "Files vi

[2018-12-05 01:06] ggalibert commented on #381
How about "Files via Amazon Web Services S3 storage"? At least now the user know where to look for info about S3. I quite like mentioning S3 just like THREDDS because both are kind of technologies with API for smart access.

[2018-12-05 01:13] atkinsn commented on #381
Sounds like good reasoning to me @ggalibert

[2018-12-05 23:08] atkinsn commented on #369
Has been done and checked in production.

[2018-12-05 23:08] #369 closed

[2018-12-06 01:13] atkinsn commented on #353
BODAAC service has been updated as part of #1014, with the following:

When a BODAAC service is present, the description text is updated to “The ncUrlList is a WFS service that returns a list of URLs matching a query." and the gmd:CI_OnlineResource description updated to "ncUrlList help documentation" i.e. replace "BODAAC help documentation" with "ncUrlList help documentation"

[2018-12-06 01:13] #353 closed

[2018-12-06 02:26] ocehugo opened #390 "SOOP-SST - Invalid sensor_depth in hull mounted sensors"
Hi,

The following files provide no information about depth in the first temperature sensor variable (TEMP).
all values for "sensor_depth" are 9999.0. They are supposedly hull sensors, SBE48, but no depth is provided.

[missing_sensor_depth_soop-sst.txt](https://github.com/aodn/content/files/2651416/missing_sensor_depth_soop-sst.txt)

[2018-12-11 04:17] ccmoloney opened #391 "AS A developer I WANT the compliance checker check collections for homogeneous grids SO THAT aggregations don't fail"
An ACORN aggregation last week failed where the lat/lon grid was the same shape between files but had different values. See: aodn/issues#347

The aggregator assumes that the grids are consistent.

Could the compliance checker be enhanced to detect when files in a collection have differing grids & report errors when detected?

[2018-12-11 22:03] mhidas commented on #391
Such a check could be implemented as part of a facility- or collection-specific checker plug-in within the https://github.com/aodn/cc-plugin-imos repo. Then it would be accessible to any pipeline where it's relevant.

[2018-12-12 04:51] ocehugo opened #392 "SOOP-SST data - invalid float for geospatial_lon_min"
The following ships in the SOOP-SST data holds wrong metadata information:

'VMQ9273_Solander', 'VNCF_Cape-Ferguson', 'VRZN9_Pacific-Celebes'

The "geospatial_lon_min" is invalid , usually a "******".

Example:
http://ci-eb-thredds-devl-data.aodn.org.au/thredds/dodsC/IMOS/SOOP/SOOP-SST/VRZN9_Pacific-Celebes/2011/IMOS_SOOP-SST_CMST_20110930T000100Z_VRZN9_FV01_C-20120511T030950Z.nc.html

blame files

[2018-12-12 04:54] #386 closed

[2018-12-12 04:58] ocehugo opened #393 "ANMN AM - missing instruments and keywords are not consistent."
Follwing from #386,

I also found that AM moorings are missing "instrument" global attribute.

The keywords is also formatted very differently from other ANMN files...

[anmn_am_no_instrument.txt](https://github.com/aodn/content/files/2670537/anmn_am_no_instrument.txt)

[2019-01-08 05:09] atkinsn commented on #342
All metadata records related to the Portal have been updated.

[2019-01-08 05:09] #342 closed

[2019-01-08 05:22] #381 closed, assigned to atkinsn, smancini

[2019-01-10 00:54] bpasquer opened #394 "National Wave archive Health bad -read timed out"
The National wave archive collection is in bad health.
Not quite sure what has to be done to fix it.
Sumologic output the following error
`[WFS GetFeature request results in exception for uuid='2807f3aa-4db0-4924-b64b-354ae8c10b58', url='http://geoserver-portal-internal.aodn.org.au/geoserver/ows?service=WFS&version=1.0.0&request=GetFeature&maxFeatures=1&outputFormat=csv&typeName=aodn:aodn_wave_dm_

[2019-01-10 06:03] atkinsn commented on #354
I am ok with this, if @lbesnard is?

[2019-01-11 04:59] lbesnard commented on #354
OC stands for ocean colour. Would be nice to have this.

[2019-01-15 04:09] lwgordonimos opened #395 "soop_trv_duplicate_ls layer"
As discussed @lbesnard, this layers fails in Nagios. Be great if we can fix this to remove the alert!

[code]

[2019-01-17 04:53] lbesnard commented on #395
@lwgordonimos possible fix

[2019-01-18 03:53] #384 closed

[2019-01-21 06:13] ggalibert opened #396 "as a User I would like to know the endpoint url of all quality control documents from the netcdf global attributes"
From @ocehugo :

I believe the user should be directed to the actual file link of the quality control procedure for every IMOS file.

Currently, the direction to the QC document is soft:

For example, file ```http://thredds.aodn.org.au/thredds/dodsC/IMOS/ACORN/gridded_1h-avg-current-map_QC/BONC/2014/02/05/IMOS_ACORN_V_20140205T010000Z_BONC_FV01_1-hour-avg.nc```
said the following for the "file_ver

[2019-01-22 22:31] jonescc opened #397 "Remove geometry column from _url layers"
Refer https://github.com/aodn/issues/issues/369

The following layers generate errors when creating the WMS GetCapabilities response:

acorn_hourly_avg_bonc_qc_timeseries_url
acorn_hourly_avg_newc_nonqc_timeseries_url
acorn_hourly_avg_newc_qc_timeseries_url
acorn_hourly_avg_turq_qc_timeseries_url
gsla_dm00_timeseries_url
gsla_nrt00_timeseries_url

GeoServer includes them in the WMS GetCapabilities

[2019-01-23 02:16] ggalibert commented on #397
Currently, the following _url layers are found in the WMS GetCapabilities:
acorn_hourly_avg_bonc_nonqc_timeseries_url
acorn_hourly_avg_bonc_qc_timeseries_url
acorn_hourly_avg_cbg_nonqc_timeseries_url
acorn_hourly_avg_cbg_qc_timeseries_url
acorn_hourly_avg_cof_nonqc_timeseries_url
acorn_hourly_avg_cof_qc_timeseries_url
acorn_hourly_avg_newc_nonqc_timeseries_url
acorn_hourly_avg_newc_qc_timeseries_u

[2019-01-23 03:14] jonescc commented on #397
I can't see any reason to include them as Geoserver WMS layers.  The other 289 _url layers aren't.

[2019-01-23 03:18] jonescc commented on #397
Make that the other 68 _url layers aren't - copied the total number of layers accidentally

[2019-01-29 01:59] ggalibert opened #398 "Biogeochem timeseries datasets not available from portal"
For example at NRSYON, the bottom WQMs have been replaced by SBE16s which do not collect data in bursts. The chl-a an turbidity data from SBE16 is not found in the usual "ANMN WQM and CTD burst average data" collection!

[2019-01-29 02:13] mhidas commented on #398
This was previously reported as https://github.com/aodn/harvesters/issues/473, but I think this is a better place for it.

Having a collection defined by the sampling regime of the instruments is not very helpful. A more generic collection including all mooring timeseries would be the best (IMHO).

Also, there's been some discussion of doing the burst averaging in the Toolbox, so that the FV01 fil

[2019-01-31 04:38] ggalibert opened #399 "What do we do with "NOAA - Australasian Surface Drifting Buoys" collection?"
This collection is available on prod, yet is not being updated (set up a while ago by @mhidas) and associated noaa_drifters_map layer is too slow according to Nagios (looks not too bad on the portal though).

This dataset is not IMOS nor AODN, as far as I understood it was first set up as prototype. The question is should we get rid of it or try to complete this?

[2019-01-31 04:49] ggalibert commented on #394
Fixed by https://github.com/aodn/geoserver-config/pull/590/files

[2019-01-31 04:49] #394 closed

[2019-01-31 05:11] mhidas commented on #399
Related issues: #196, #335

The layer was set up very quickly for a TAMS workshop years ago and not maintained since then. We'd need to check whether they (or anyone else) are still using it.

[2019-01-31 06:19] #397 closed

[2019-02-07 01:50] #395 closed

[2019-02-07 04:48] lbesnard commented on #339
I have new records to create. Would be good to take a decision on this matter before @atkinsn creates them for me

[2019-02-12 05:03] lbesnard opened #400 "Instrument typo - Ocean Acidification - Battele instead of Battelle"
in https://catalogue-imos.aodn.org.au/geonetwork/srv/eng/metadata.show?uuid=4d3d4aca-472e-4616-88a5-df0f5ab401ba (and many more)

instrument is
[code]

There is a typo. Should be Battelle

https://www.battelle.org/government-offerings/national-security/maritime-systems-technologies/sensors/pco2-monitoring-system

should be fixed via regexp by devs

[2019-02-12 05:40] atkinsn commented on #400
It's on 6 metadata records, I will fix manually.

[2019-02-13 23:39] atkinsn commented on #400
Fixed.

[2019-02-13 23:39] #400 closed

[2019-02-18 05:19] ggalibert commented on #339
@smancini can you please comment on the above table/suggestion of changes.

[2019-02-18 06:01] mhidas commented on #209
https://github.com/aodn/harvesters/pull/674 should fix this. I'll close the issue once the update has been deployed to prod.

Ideally we should also update the CSV metadata header, so that users know what the different columns mean.

[2019-02-18 06:12] ggalibert commented on #209
Before closing this please identify the files that need re-harvesting and run Talend on them.

[2019-02-19 04:25] ggalibert commented on #209
Ideally we'd like to update the CSV header in order to include CPHL and CHLF. Looks like the workflow description includes some info about this process: https://github.com/aodn/internal-discussions/issues/428

[2019-02-20 00:17] mhidas commented on #209
The harvester update has been deployed, and all CTD files have been re-harvested. Just waiting for Geoserver to pick up the change in the view.

[2019-02-20 05:33] ggalibert opened #401 "SRS metadata record with link to url www.ghrsst-pp.org"
Some metadata records include a wrong link to ghrsst in the abstract part. These links need to be updated to the correct location http://ghrsst-pp.metoffice.com/ .

Example:
https://catalogue-imos.aodn.org.au/geonetwork/srv/eng/metadata.show?uuid=744ac2a9-689c-40d3-b262-0df6863f0327
https://researchdata.ands.org.au/imos-satellite-remote-srs-facility/476864

[2019-02-20 05:58] ocehugo opened #402 "DEPTH.positive attribute missing in ~260 ANMN files"
IMOS_ANMN-NRS_TZ_20081127T160000Z_NRSESP_FV01_NRSESP-0811-SBE39-30_END-20090223T110500Z_C-20150520T023849Z.nc
IMOS_ANMN-NRS_TZ_20081127T160000Z_NRSESP_FV01_NRSESP-0811-SBE39-38_END-20090223T110500Z_C-20150520T023849Z.nc
IMOS_ANMN-NRS_TZ_20140430T235915Z_NRSKAI_FV01_NRSKAI-1405-Aqualogger-520T-92_END-20140804T125915Z_C-20150903T024338Z.nc
IMOS_ANMN-NRS_TZ_20141022T235915Z_NRSKAI_FV01_NRSKAI-1410-Aq

[2019-02-20 22:28] mhidas commented on #402
Thanks @ocehugo . Again, these were all processed 3-4 years ago, i.e. with an old version of the Toolbox. One day they will be reprocessed and then this issue will be fixed.

[2019-02-20 23:09] mhidas opened #403 "Can we rename the IMOS parameter "Concentration of inferred chlorophyll from relative fluorescence per unit volume of the water body" to be more accurate?"
A couple of ANMN collections (and possibly others? https://github.com/aodn/data-services/pull/905#issuecomment-465445384) contain estimates of chlorophyll concentration derived from fluorometers (e.g. from WQM instruments). Because these are not direct measurements of chlorophyll concentration, they should **NOT** be associated with the IMOS parameter "Concentration of chlorophyll per unit volume

[2019-02-20 23:12] mhidas commented on #209
The CSV header update is here: https://github.com/aodn/data-services/pull/905

[2019-02-21 04:49] bpasquer commented on #403
There is already a term in the parameters vocab:

[2019-02-21 05:17] mhidas commented on #403
Ah! That's great!
(Silly me, I just assumed it didn't exist because it wasn't in the parameters_mapping schema)

Call me pedantic, but wouldn't "Concentration of **chlorophyll inferred** from relative fluorescence per unit volume of the water body" be more gramatically correct? (same goes for the long_name)

[2019-02-21 05:19] mhidas commented on #403
Actually, "Concentration of chlorophyll per unit volume of the water body inferred from relative fluorescence" seems like the most accurate description to me.

[2019-02-21 05:25] ggalibert commented on #403
Thanks @mhidas, maybe renaming the parameter can be treated as a separate issue.

[2019-02-21 05:49] mhidas commented on #403
Ok, well since the original issue described here is already resolved (i.e. the IMOS vocab _does_ have the relevant parameter), maybe _this_ issue can become that separate issue.

[2019-02-22 00:54] bpasquer opened #404 "CPHL, CHLF and CHLU distinction made clearer in CSV header"
Following this
https://github.com/aodn/data-services/pull/905
and
https://github.com/aodn/imos-toolbox/issues/532

We should add a field/column "comment"  in the parameters.csv file and amend the parameters_mapping harvester as well.

[2019-02-25 01:23] lbesnard opened #405 "reporting db blocks harvester/pipeline"
The reporting database is blocking a liquibase change in the SOOP TMV pipeline. This means the pipelines can't run.

This is an ongoing issue with the reporting db. While xav is away, I don't know who can fix it. @ggalibert ?

[code]

[2019-02-25 02:48] bpasquer commented on #405
This is an issue that has been mentioned as part of the PO's workflow review, but has not been addressed yet.
You can ask Leigh to drop the view( He did it for me few weeks ago with SOOP-BA)

Dr. Benedicte Pasquer
AODN Project Officer
Monday - Friday 9am - 3pm
University of Tasmania, Private Bag 110, Hobart, Tasmania, 7001, Australia
Ph: +61 3 6226 1927
http://portal.aodn.org.au

On 25 Feb 2019, a

[2019-02-25 03:29] mhidas commented on #405
Why do those views even need to be there all the time? I thought they were only used once a month when Jacqui creates the reports. Can't they just be removed as soon as she's done?

[2019-02-25 23:33] jachope commented on #405
@mhidas agreed they are only required for one day a month.  Xav (or Seb) runs then one evening at an agreed date and the next day I complete all the reporting. Other than that don't believe they are required? @smancini ?

[2019-02-28 01:03] lbesnard commented on #339
Proposed naming in following table:
https://universitytasmania-my.sharepoint.com/:x:/g/personal/laurent_besnard_utas_edu_au/EefX1JBoONxFjNpnK99IHeUBnmnaxVTpVE8Y9UzdnN6Msg?e=wFvQVx

I think we need to add in the title the reference to GHRSST or at least SST as nothing says this is actually SST data

[2019-03-04 02:09] ggalibert opened #406 "HF radar - Standard deviation is zero for quality control == 1"
@scosoli for information:

Some BONC HF files got a VCUR_sd == 0 for VCUR_quality_control = 1.

Example: http://ci-eb-thredds-devl-data.aodn.org.au/thredds/dodsC/IMOS/ACORN/gridded_1h-avg-current-map_QC/BONC/2011/01/25/IMOS_ACORN_V_20110125T040000Z_BONC_FV01_1-hour-avg.nc

This indicates a possible problem in QC.

[2019-03-04 02:41] scosoli commented on #406
Thanks for reporting this issue Guillame. will look into it and figure out what the problem is

[2019-03-04 03:41] scosoli commented on #406
I was able to reproduce the error you reported - need to find out what is going on. I am concerned similar issues may have propagated to other nodes as I am using the same scripts - procedures across the network. do you have evidences of something similar occurring elsewhere?

[2019-03-04 03:46] bpasquer commented on #404
fix is here https://github.com/aodn/harvesters/pull/685

[2019-03-04 03:54] atkinsn commented on #403
The naming structure of these parameters follows a general structure. So @smancini would of crafted these terms based on this.

This term with its re-ordered components would have to be represented by a new vocab term, rather than a simple "edit", so @smancini would have to decide whether this work is warranted.

[2019-03-04 04:27] mhidas commented on #403
Righto... I guess sticking to the established structure probably makes more sense than re-ordering the words just so it makes more sense to me.

[2019-03-04 04:41] ggalibert commented on #403
I think @mhidas 's first suggestion "Concentration of chlorophyll inferred from relative fluorescence per unit volume of the water body" is more grammatically correct and yet still conforms to the general structure used by @smancini .

[2019-03-04 04:55] ggalibert commented on #406
Sorry at this stage we found one file/node that caused this problem from 2007 up to 20110125T040000 and after that date we didn't look any further. There could definitely be more impacted files/nodes.

[2019-03-05 07:25] scosoli commented on #406
I am going through the QC scripts and steps and I can't seem to find an obvious problem in them. What I did find, however, is that the grid point where Vsd=0 for VCUR_quality_control==1, actually defines the Vsd=0. This is the line of the ascii file with the velocities generated by the proprietary software (not ACORN software ):
%%   Longitude   Latitude    U comp   V comp  VectorFlag   U StdDev

[2019-03-05 07:34] scosoli commented on #406
what I am 'not' including in the DM QC (but I am including in the RT QC instead), is an error flag on the contribution of radial velocities from each station to the vector. The proprietary siftware should use at least 2 radials per site when calculating the vectors. Unfortunately this is not the case here and data quality as such is degraded (both when too few radials are used; and, more in genera

[2019-03-05 07:38] scosoli commented on #406
the reason for this check on NOBS1,2 is that an unbalanced distribution of radial observations introduces biases in direction and speed, which are enhanced by the position in the grid (this is the so-called GDOSA, geometrical dilution of statistical accuracy) and are also flow-dependent (the bias is larger in the presence of horizontal current shear such as in an eddy or a boundary current). this

[2019-03-05 07:42] scosoli commented on #406
FYI: I am not expecting WERA nodes to be impacted by this issue as the procedures are slightly different

[2019-03-05 09:13] scosoli commented on #406
don’t know yet if we’ll have to reprocess the files to generate netcdf again. if so, however, it should be relatively quick as this correction is done on the last stage (before the netcdf creation) and we have stored all concatenated and QCd files on the IRDS

[2019-03-08 01:53] lbesnard opened #407 "Absorption parameter facets"
Absorption parameter is currently found on step 1 under
```Parameter -> Physical-Water -> Optical Properties```

Could absorption parameter also be under
```Parameter -> Biological ```
alongside Pigments ... ?

[2019-03-11 23:17] ggalibert commented on #407
What is your motivation? Absorption is a physical property.

[2019-03-12 04:33] atkinsn commented on #401
Only found in this metadata record - has been updated.

[2019-03-12 04:33] #401 closed

[2019-03-13 00:54] #404 closed

[2019-03-13 01:02] #403 closed

[2019-03-13 01:10] ggalibert commented on #403
Minor change required so won't fix for now. But would be good to know how we can do this properly for the day we really want to change/update a parameter.

[2019-03-13 06:06] ggalibert commented on #339
Can we close this?

[2019-03-13 23:12] lbesnard commented on #339
maybe we could change the title and remove sst. We still have to deal with OC

[2019-03-13 23:41] lbesnard commented on #407
The reason is that for the Bio Optical database which has pigment data (biological), some users expect to see Absorption at the same level

[2019-03-14 01:05] #339 closed

[2019-03-18 01:32] lbesnard opened #408 "SOOP TMV NRT in health bad - possible filter issue"
The following collection https://portal.aodn.org.au/search?uuid=d24d26cc-cd8c-4c5b-94e5-809051043d7e is in health bad. I suspect the __TIME__ filter to be an issue as it doesn't appear in the subset tab of step 2. However I don't see what is the issue.

[2019-03-18 05:29] ggalibert opened #409 "ACORN NRT radial files corrupted"
The following files have been sent to us in a corrupted state:

Size|Month|Day|Time|File name
---|---|---|---|---
47K|Oct|31|2018|IMOS_ACORN_RV_20181031T043000Z_RRK_FV00_radial.nc
0|Aug|12|18:22|IMOS_ACORN_RV_20181031T023000Z_CWI_FV00_radial.nc
0|Aug|12|18:22|IMOS_ACORN_RV_20190605T160000Z_CWI_FV00_radial.nc
0|Aug|12|18:22|IMOS_ACORN_RV_20190605T162000Z_CWI_FV00_radial.nc
0|Aug|12|18:22|IMOS_ACORN

[2019-03-19 00:58] scosoli commented on #409
Thanks Guillame - will check if the files can be reprocessed and if so will upload them. As a curiosity - what is the reported problem?

[2019-03-19 01:22] ggalibert commented on #409
The problem is that these files are not sane NetCDFs. As you can see IMOS_ACORN_RV_20181213T100500Z_CSP_FV00_radial.nc is empty, some are truncated like IMOS_ACORN_RV_20190205T124500Z_NNB_FV00_radial.nc and some are not valid NetCDF at all.

The question is was it the upload operation that failed and left invalid files on our server or was the original file corrupted already (a problem happened du

[2019-03-19 01:42] ggalibert opened #410 "Support NetCDF files bigger than 2Gb with OPeNDAP"
In order to properly support OPeNDAP for files bigger than 2Gb, one has to enable Large File Support by creating the NetCDF file in a 64-bit offset format (as opposed to classic format). See https://www.unidata.ucar.edu/software/netcdf/faq-lfs.html .

The following files are currently impacted and need to be re-produced with the correct format (please update if required):

- [ ] http://thredds.aod

[2019-03-19 01:48] ggalibert commented on #410
For example one should be able to use nccopy to produce a subset of the dataset available via OPeNDAP. In the example below I am requesting only one variable:

[code]

If successful the retrieved file would be ~140Mb.

[2019-03-19 01:52] scosoli commented on #409
interestingly it seems to only happen with the wera radials for which the conversion is managed through the python scripts. we'll check what the problem is. I can add a sanity check before launching the transfer process but need to fnd where the problem is

[2019-03-19 02:51] ocehugo commented on #410
@ggalibert ,

The actual file in the bucket is in netcdf-4/hdf5 format.

I don't think this is related to LFS and the netcdf format. I could subset the files with NCO in the opendap for the SSTAARS file.
[code]

Also, you forgot to put "-4" in the nccopy call. If not provided, it will always try to create a local netcdf-3 file. Given that the remote file is larger than 2gb, it will fail before eve

[2019-03-19 03:32] #410 closed

[2019-03-21 01:24] lbesnard commented on #408
Also, the collection runs well on https://portal-rc.aodn.org.au/search?uuid=d24d26cc-cd8c-4c5b-94e5-809051043d7e

This highlights another difference between prod/rc

[2019-03-21 06:02] ggalibert commented on #398
Not clear agreement from everyone on this yet.

Agreed, implementing the moorings products identified at the last long timeseries product working group might encourage us to go down that path.

[2019-03-21 06:11] ggalibert commented on #405
Instead of creating a view, I believe we could just run an SQL query to produce the table required for reporting.

[2019-03-21 06:15] ggalibert commented on #399
@mhidas, @kereid do you have a point of contact at NOAA or TAMS for this dataset?

[2019-03-21 06:20] ggalibert commented on #396
This comes from a good intention and should be what we try to plan for when creating new files.

In reality, when you have to update several millions of files like for ACORN non QC radials (3 637 649) to put this information back in the file this becomes a big challenge.

As a first step I think we should aim for this document to be linked to the collection metadata record.

[2019-03-21 06:22] ggalibert commented on #391
This content issue to report the problem to the facility for them to fix: https://github.com/aodn/content/issues/388

[2019-03-21 06:28] ggalibert commented on #393
Global attribute "instrument" is optional according to latest [IMOS NetCDF convention v1.4](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwiZ6K-ZzZLhAhWc7XMBHTAtDOgQFjAAegQIAhAC&url=http%3A%2F%2Fcontent.aodn.org.au%2FDocuments%2FIMOS%2FConventions%2FIMOS_NetCDF_Conventions.pdf&usg=AOvVaw0DWdaK24pXzOiOn0v99Kk2).

"keywords": A comma separated list of keywords coming from

[2019-03-21 06:38] ggalibert commented on #385
DEPTH has been used for measured depth. If it's not measured, it's not DEPTH.

platform_code and deployment_code are optional.

[2019-03-21 06:41] ggalibert commented on #383
Does this problem still exist @lwgordonimos ?

[2019-03-21 06:42] ggalibert commented on #380
@xhoenner can we close this?

[2019-03-21 06:46] ggalibert commented on #379
You'd need to make sure an IMOS param vocab exists for it and is included in the metadata record.

[2019-03-21 06:48] ggalibert commented on #372
Closing in favor of the issue in the toolbox repo.

[2019-03-21 06:48] #372 closed

[2019-03-21 06:50] ggalibert commented on #371
Does the problem still exist @jonescc ?

[2019-03-21 06:52] #366 closed

[2019-03-21 07:13] lwgordonimos commented on #383
The immediate problem was resolved by upgrading Geoserver, but it is still desirable to do more validation before deployment (perhaps even before merging), in order to pick up issues earlier.

[2019-03-21 20:27] kereid commented on #399
@ggalibert no I don't have contact details for anyone at NOAA @smancini might? And Perhaps it would be best to contact Jessica Boomer for TAMS @mhidas will know if she is the best contact for that.

[2019-03-21 21:15] jonescc commented on #371
No.  Looks to have been resolved.

[2019-03-21 21:15] #371 closed

[2019-03-21 22:05] xhoenner commented on #380
Yep, fixed by https://github.com/aodn/harvesters/pull/644

[2019-03-21 22:05] #380 closed

[2019-03-21 23:36] lbesnard commented on #379
probably more some work for @atkinsn . I have no idea how to do this

[2019-03-21 23:42] lbesnard commented on #408
@ggalibert It's more up to dev's to look at this. It's working fine on RC

[2019-03-21 23:44] lbesnard commented on #390
These are historical files. have to see with @smancini what can be done ?

[2019-03-21 23:44] lbesnard commented on #392
historic files.

[2019-03-22 03:18] atkinsn commented on #379
I can add this to Poolparty and then afterwards add it to the metadata record.

However the bigger question is I need to know who is looking after the naming of the terms in the data parameter vocab now - I am not a data scientist, and it needs to be one person to provide a consistent approach rather than a group effort. @smancini @ggalibert ?????

[2019-03-22 03:20] atkinsn commented on #379
And we need new terms to cover this in the category vocab too.

[2019-03-22 03:44] atkinsn commented on #396
On an unrelated track, I am about to assign a DOI to the "QC procedures for ACORN radars manual". I am going to place this document on content.aodn, and also suggest to the IMOS office to upload this to the website (I will create a link to the "latest" file, so this link will always point to the latest version).  Simone is also "I have already modified the global parameters in the RT data stream t

[2019-03-22 05:18] jonescc commented on #408
Looks like we're getting a 'no default style' message for this layer in production when trying to create the getCapabilities element for it.  I believe qe're running squid instead of geowebcache in RC which is why we get a different result there.

[2019-03-22 05:42] jonescc commented on #408
GeoWebcache uses the GetCapabilities statement to work out what layers are available in geoserver.  Only layers geowebcache knows about can be proxied to geoserver.  Currently getFiltters request coming from the portal go through geowebcache which is why this isn't working in production.  To fix this you can add a default style to the data layer.

[2019-03-22 05:49] jonescc commented on #408
@lwgordonimos - note that this will be an issue when we come to look at turning off wms for data layers using 2.15

[2019-03-24 13:23] scosoli opened #411 "NRT radar products not uploaded to thredds"
NRT HF radar netcdf data from the UWA server do not seem to appear or be uploaded to the thredds portal. I can see them on the ftp incoming directory but they are stuck there and not uploaded

[2019-03-24 22:21] #383 closed

[2019-03-24 22:45] mhidas commented on #399
Jessica Boomer is the current coordinator of TAMS. This layer was originally added in 2014 for Jason Everett, and working also with Erik van Sebille (both at UNSW).

[2019-03-24 22:47] mhidas commented on #399
I'll contact them  to see if they're still using this collection for TAMS.

[2019-03-25 00:01] ggalibert commented on #407
@atkinsn all absorptions param could also be visible via the Biological facet.

[2019-03-25 00:16] ggalibert commented on #393
Acidification moorings are still following IMOS 1.3. Need to check what this version of document says about keywords. Then see if there is any possibility to include this fix in re-processing / new files.

[2019-03-25 00:25] ggalibert commented on #392
Can we have a more detailed look at the whole file, collect info about any inconsistency or problem with compliance and then contact the data producer?

Goes to a bigger problem across all datasets that are not compliant/consistent.

[2019-03-25 00:31] ggalibert commented on #390
Same comments as in #392

[2019-03-25 02:56] atkinsn commented on #396
I have added a link to the QC document to all radar collection level metadata records.

[2019-03-25 03:25] ggalibert commented on #411
Our infrastructure has been facing some problems recently. We're trying to fix them asap.

[2019-03-25 04:59] lbesnard opened #412 "SRS facets"
The current SRS SST facets don't really represent a useful granularity for users to help them choose the needed collection. We now have 48 collections accross SST and Ocean Colour.

Below is a proposed hierarchy to be discussed for SST facets:

* Level 3  - Mapped
  * Single swath, single sensor, single satellite
     * Example: IMOS - SRS - SST - L3U - SNPP - Australia
  * Multi swath, single sen

[2019-03-25 05:53] #411 closed

[2019-03-25 06:03] lbesnard commented on #409
@scosoli Hi, I added a few more files which had some issues.

[2019-03-25 06:31] lbesnard commented on #409
@scosoli please disregard previous comment

[2019-03-25 23:50] atkinsn commented on #407
I have added the 3 absorption parameters to the 'pigment' category under Biological.

This will show up on the Portal once the next version of the parameter vocab is published (timing currently undetermined).

[2019-03-25 23:50] #407 closed

[2019-03-26 02:24] #412 closed

[2019-03-26 03:56] mhidas commented on #398
Here's another example: http://thredds.aodn.org.au/thredds/catalog/IMOS/ANMN/NRS/NRSROT/Biogeochem_timeseries/catalog.html?dataset=IMOS/ANMN/NRS/NRSROT/Biogeochem_timeseries/IMOS_ANMN-NRS_EKTUZ_20180816T080000Z_NRSROT_FV01_NRSROT-1808-ACLW-USB-24_END-20181214T023003Z_C-20181217T041212Z.nc

Slightly different in that it does seem to be a burst-sampling instrument (4x1s every 15min), but the metadat

[2019-03-27 05:30] #362 closed

[2019-03-27 23:07] ggalibert commented on #396
@scosoli let us know when you have implemented the change in the NetCDF files so that they include information about the QC document and where it can be found and we can close this issue.

[2019-03-27 23:09] ggalibert commented on #354
Ok, then I suggest to rename it:

IMOS - SRS - Ocean Colour - Bio Optical Database of Australian Waters

What do you think?

[2019-03-27 23:10] scosoli commented on #396
Changes are operational for both RT and DM products already. the link to the doi is included in the metadata. IMOS has requested a few additional edits to the document (the facility name has changed from ACORN to IMOS Ocean Radar Facility) and I am going through the text to change it accordingly

[2019-03-27 23:12] ggalibert commented on #396
Great!

[2019-03-27 23:17] lbesnard commented on #354
sure

[2019-03-28 04:44] ggalibert commented on #396
@scosoli it doesn't seem to be the case for SeaSonde files yet though. Is this intended? See http://thredds.aodn.org.au/thredds/dodsC/IMOS/ACORN/radial/LANC/2019/03/28/IMOS_ACORN_RV_20190328T000000Z_LANC_FV00_radial.nc.html

[2019-03-28 04:56] scosoli commented on #396
yes, we do not yet perform custom RT QC on seasonde radials for the WA systems and run only manufacturer tests as we need to upgrade site computers, operating system, processing software and license keys first.
I have developed tools for DM QC (and planning reprocessing all the historical dataset and running this custom QC). this is being ported for RT application in the NSW codar systems where we

[2019-03-28 04:57] scosoli commented on #396
at the moment the NSW systems are down - we'll update the document when the RT QC is performed there

[2019-03-28 05:00] #396 closed

[2019-03-28 05:33] lwgordonimos commented on #408
@lbesnard the imos:soop_tmv_nrt_trajectory_data layer is horribly slow, and appears to be because `visualisation_wms` has no primary key, making the view require a sequential scan for any query. I don't think it's *directly* related to the bad health, however it makes it practically unusable, so is kind of related to this layer being "bad".

[2019-03-29 04:36] mhidas commented on #399
They are no longer using this layer in the TAMS workshop, so I think we can safely remove it from the portal!
@ggalibert @smancini

[2019-03-29 04:43] mhidas commented on #399
We could also remove the layers from geoserver-config, the db schema, and the harvester!
That would also resolve https://github.com/aodn/content/issues/335 and https://github.com/aodn/content/issues/196

:bird: :bird:  :bird:  with one stone! (sort of)

[2019-04-01 00:52] ggalibert commented on #399
Sounds like a great plan!

@atkinsn could you please remove the relevant metadata record from Geonetwork?

[2019-04-01 00:54] atkinsn commented on #399
@ggalibert  as we have had this collection up for a number of years on the Portal. What I would like to do is, to remove the WMS and WFS (etc) from the record, it will then be "removed" from the Portal. But still have it in GeoNetwork, in case someone has used this data and cited it, the link to the metadata will still resolve. I will add text to the metadata to explain when it was taken down etc.

[2019-04-02 03:25] lbesnard opened #413 "SOOP XBT NRT - data in year 200 A.D."
I discovered by chance 3+ xbt nrt voyages with times around the year 200 A.D.
https://portal.aodn.org.au/search?uuid=35234913-aa3c-48ec-b9a4-77f822f66ef8

currently investigating the reasons why

3125 | [147.5438, -43.529] | Point | geom | soop_xbt_nrt_profiles_data.fid-7cb7f59a_169dbea239e_-42a | FHZI | 29 | -43.5289655172 | 147.543793103 | 17.485 | 0200-02-20T12:09:00Z | 698561 | 5471 | Astrolab

[2019-04-02 03:29] lbesnard commented on #413
[code]

"IMOS/SOOP/SOOP-XBT/REALTIME/9V3581_Maersk-Jalan/200/IMOS_SOOP-XBT_T_2000107T230600Z_9V3581_002415_FV00.csv"
"IMOS/SOOP/SOOP-XBT/REALTIME/9V3581_Maersk-Jalan/200/IMOS_SOOP-XBT_T_2000210T215200Z_9V3581_002423_FV00.csv"
"IMOS/SOOP/SOOP-XBT/REALTIME/9V3581_Maersk-Jalan/200/IMOS_SOOP-XBT_T_2000210T215200Z_9V3581_002430_FV00.csv"
"IMOS/SOOP/SOOP-XBT/REALTIME/9V3581_Maersk-Jalan/200/IMOS_SOOP-XB

[2019-04-02 03:30] lbesnard commented on #413
the reason seems to be in the filename not containing enough characters in the time value around the year/month part:
2000210T230300Z

[2019-04-02 03:35] lbesnard commented on #413
This query shows it affected files uploaded in 2016-03
[code]

@smancini do you know you dealt with this collection back then ? maybe we should contact the facility leader about this bug.

Also, the physical files aren't on S3. However I can always un-indexed them

FYI @ggalibert

[2019-04-08 04:34] bpasquer opened #414 "SOOP CO2 - Multiple filter vessel name options for Aurora Australis"
Naming of the Aurora Australis has changed to SRV Aurora Australis in 2016 creating a second entry in the vessel name filter. To avoid duplicate entries in the vessel_name  filter, vessel naming should be enforced in the harvester.

[2019-04-09 06:29] lbesnard opened #415 "cytometry - wrong data header in CSV"
@mhidas it was pointed out to me by Lesley that the metadata header from the following collection
https://portal.aodn.org.au/search?uuid=fa93c66e-0e55-7e1d-e043-08114f8c1b76

didn't match the actual variables in the CSV file on step 3

[2019-04-09 07:21] mhidas commented on #415
Thanks @lbesnard . This is a part of #108

[2019-04-09 07:23] #415 closed

[2019-04-10 05:36] lbesnard commented on #408
@lwgordonimos @ccmoloney

This layer:
https://portal.aodn.org.au/search?uuid=d24d26cc-cd8c-4c5b-94e5-809051043d7e

 is still in health bad. However it seems to be working fine. Any idea why ?

[2019-04-10 05:58] kereid commented on #408
For quick reference (if it helps) the content of the Sumo notification email that came through thismorning at 1:01am so it hasn't been on the "bad list" the entire time

Hmm have pasted and it looks yucky but good for a record at least

Saved Search                Data     collections transitioning to bad health                        Search String                _sourceName="/mnt/ebs/tomcat7/geon

[2019-04-10 05:59] kereid commented on #408
Sorry really really yucky LOL!

[2019-04-10 06:03] lbesnard commented on #408
also, it doesn't look possible to get any data in the hobart to sydney transect. Step 3 greys out the download option although step 2 shows there is data to be downloaded

[2019-04-10 06:04] lwgordonimos commented on #408
It will be in bad health until the layer responds in a timely fashion to this request:

[code]

[2019-04-10 06:06] ccmoloney commented on #408
Yep - in the online resource monitor checks are reporting this:

[org.fao.geonet.monitor.onlineresource.MetadataRecordInfo] - Record uuid='d24d26cc-cd8c-4c5b-94e5-809051043d7e' title='IMOS - SOOP-Temperate Merchant Vessel (TMV) sub-facility - Data collected on the Spirit of Tasmania I during transect between Melbourne and Devonport (Near real-time)' changes status from 'UNKNOWN' to 'FAILED'. Reaso

[2019-04-10 06:09] lwgordonimos commented on #408
Re the download thing, it's not what I initially thought, because the getFeatureCount is returning non-zero, so might need to get a Portal guru to see what's going on there.

[2019-04-10 07:17] lbesnard commented on #408
https://github.com/aodn/harvesters/pull/711

[2019-04-15 06:07] atkinsn commented on #354
Done :)

[2019-04-15 06:07] #354 closed

[2019-04-17 06:07] mhidas opened #416 "Incorrect timestamps in database due to bad timezone handling"
It seems there are timestamps in the harvest db that are off by an hour due to something in the harvest process.

E.g. Craig just discovered that the `anmn_ts.measurements` table contains many duplicate timestamps within a given timeseries (i.e. one file). This should not be possible as the IMOS-1.4 checker requires the TIME coordinate to be strictly monotonic. A closer look at one example reveale

[2019-04-17 06:19] mhidas commented on #416
For example, the timestamps in [this file](http://thredds.aodn.org.au/thredds/catalog/IMOS/ANMN/QLD/GBRHIS/Temperature/catalog.html?dataset=IMOS/ANMN/QLD/GBRHIS/Temperature/IMOS_ANMN-QLD_TZ_20180331T000001Z_GBRHIS_FV01_GBRHIS-1804-SBE39plus-27.8_END-20181010T103100Z_C-20190307T034508Z.nc) are fine (monotonically  increasing), but in the database, they look like this  (sorted by array index):
[code

[2019-04-17 06:24] mhidas commented on #416
This is a content issue, but it might need to be resolved  by the devs as I think it is a systematic issue with the harvesting process or the way the db  is set up.

[2019-04-17 07:40] mhidas commented on #416
Ok, upon closer investigation, it seems this was a gross overestimate (phew!). Comparing more of the timestamps from the above file (using ncdump) versus the db, the two are only inconsistent during that  one-hour period (index range 900 to 960). The db values appear to match those in the file for all other times.

[2019-04-18 01:55] jonescc commented on #416
Looks like an issue with NetCDFUtils.addDays.  If I change the type of the TIME output from iNetcdfInput  to Date and remove the usage of NetCDFUtils.addDays, I get the correct result.

[2019-04-18 02:20] jonescc commented on #416
This routine is used by the following harvesters:

AATAMS_SATTAG_NRT
AATAMS_SATTAG_QC_CTD
ABOS_SOFS_SURFACE_FLUXES
ABOS_SOFS_SURFACE_PROPERTIES
ABOS_TS_SINGLE_INST_TIMESERIES
ANFOG_DM
ANFOG_RT
ANMN_ACIDIFICATION_DM
ANMN_ACIDIFICATION_NRT
ANMN_BURST_AVG_TIMESERIES
ANMN_MHLWAVE
ANMN_NRS_CTD_PROFILES
ANMN_NRS_DAR_YON_TS
ANMN_NRS_LONG_TS
ANMN_NRS_RT_BIOGEOCHEM_TIMESERIES
ANMN_NRS_RT_METEO_TIMESERIES
A

[2019-04-18 04:21] jonescc opened #417 "VIT - Corrupt file stops aggregations for srs_oc_chl_oc3_1d_aqua_url"
Refer https://github.com/aodn/issues/issues/425

A.P1D.20180106T000000Z.aust.chl_oc3.nc is corrupt and stops any aggregations which include it.

[2019-04-28 22:46] ggalibert commented on #409
@scosoli 5 more files were uploaded corrupted on the 18 April from CSP and NNB. They have been added to the list above.

[2019-04-28 23:02] ggalibert commented on #417
@lbesnard there should be a sanity check added to the relevant pipeline.

[2019-04-28 23:58] jonescc commented on #416
Looks like the issue is caused by not specifying timezone information in the NetCDFUtils.addDays call.

The harvester (and other harvesters) use

    NetCDFUtils.addDays("1950-01-01 00:00:00", "yyyy-MM-dd HH:mm:ss", data.TIME, true)

What's required is

    NetCDFUtils.addDays("1950-01-01 00:00:00-0000", "yyyy-MM-dd HH:mm:ssZ", data.TIME, true)

Need a bulk update of affected harvesters and to rep

[2019-04-29 00:53] jonescc commented on #416
[problem_references.txt](https://github.com/aodn/content/files/3125715/problem_references.txt)

[2019-04-30 02:18] #408 closed

[2019-04-30 02:29] lbesnard commented on #279
30/04/19:
recontacted Edward

[2019-04-30 02:40] lbesnard commented on #417
@jonescc what is corrupted about this file ? http://thredds.aodn.org.au/thredds/dodsC/IMOS/SRS/OC/gridded/aqua/P1D/2018/01/A.P1D.20180106T000000Z.aust.chl_oc3.nc.html

I can access it, open it, plot the data

[2019-04-30 02:43] lbesnard commented on #417
The sanity check is automatically added via aodncore. Also, there is a CF check
https://github.com/aodn/chef-private/blob/master/data_bags/imos_po_watches/SRS_OC_GRIDDED.json#L8

[2019-04-30 03:13] ggalibert commented on #417
If you do an ncdump on the file you will get:
[code]

Maybe the sanity check in aodncore could be improved to better pick up corrupted files?

[2019-04-30 03:15] lbesnard commented on #417
nothing wrong with the pipeline. This is a file prior to v2

[2019-04-30 03:17] lbesnard commented on #417
that what i did, and then it outputs all the data. Same with ncBrowse, I can plot everything

[2019-04-30 03:20] ggalibert commented on #417
I ran ncdump on 10-aws.

[2019-04-30 03:22] lbesnard commented on #417
maybe i have a more up ti date version of the netcdf lib

[2019-04-30 03:23] jonescc commented on #417
Yeah,  I was wondering that.   Just rechecking locally and elsewhere.

[2019-04-30 03:25] lwgordonimos commented on #417
Just to confirm, if no compliance checks are defined, Pipeline 2 does a minimal NetCDF validation, so blatantly corrupt files shouldn't make it through the pipeline.

[2019-04-30 03:28] jonescc commented on #417
Have you read all the data from the file? One chunk is probably corrupt.

[2019-04-30 04:42] mhidas commented on #417
We've encountered this problem before: https://github.com/aodn/issues/issues/231#issuecomment-402320120 - see the discussion in that  thread. If only a data chunk is corrupt, doing `ncdump -h` or opening the file as a `netCDF4.Dataset`, or even running CF & IMOS checks  may not  show  this problem.

We might need a separate data integrity check: https://github.com/aodn/cc-plugin-imos/issues/17

[2019-04-30 06:05] lbesnard commented on #417
30/04/19
Edward King contacted

[2019-04-30 14:28] scosoli commented on #409
thanks for reporting that. I'm implementing a sanity check right now that will possibly get rid of this issue. will test this week

[2019-04-30 17:53] scosoli commented on #409
the sanity check is implemented - right before the rsync upload a script checks for I/O errors, missing variables and so on and if so the corrupt file is moved to an 'error' directory on our server for later checks. as it is now the script should be fairly robust but please let me know if corupt files are still uploaded and I'll fix it properly. as it is now it only acts on the python-generated ra

[2019-04-30 17:54] scosoli commented on #409
will reprocess and upload the missing files later on when I'm back from leave

[2019-04-30 23:35] ggalibert commented on #409
Thank you, please let us know when you do re-upload the files.

[2019-05-01 01:56] lbesnard commented on #299
https://github.com/aodn/data-services/pull/925

[2019-05-01 03:18] lbesnard opened #418 "soop tmv nrt - no bodaac link available"
bodaac link needs to be added to this collection to have NetCDF available via step 3
https://portal.aodn.org.au/search?uuid=d24d26cc-cd8c-4c5b-94e5-809051043d7e

[2019-05-02 02:55] lbesnard commented on #413
I tried to delete all those files with the po_s3_del command. However the data is still in the database.

For example:
[code]
correctly shows it was deleted and last_indexed today "2019-05-02 02:42:23.828+00".

however the data is still there
[code]

The SOOP_XBT_NRT harvester seems to be set up correctly to delete files:
[code]
with a proper commit and tpostjob component. however, files stay in t

[2019-05-02 03:52] mhidas opened #419 "plankton_products layers need CSV metadata header"
These new layers in the plankton_products don't have any metadata information in the CSV downloads. Apart from basic time and location columns, all the other columns are names of species or taxonomic groups, which should be self-explanatory. So we don't need a separate entry for each one (some layers have hundreds!), but the units still need to be specified.

[2019-05-02 04:05] ggalibert commented on #419
Current output looks like this:

FID | id | Route | Latitude | Longitude | SampleDateUTC | Year | Month | Day | Time_24hr | Amphipod | Appendicularian_Fritillariidae | ...
--- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | ---
cpr_zoop_htg_map.fid--1c06a995_16a76a74981_-2f51 | 15824 | BRFI | -24.6077 | 157.3176 | 2012-05-04T21:48:26Z | 2012 | 5 | 4 | 21:48:26 | 0 | 0.6667 | ..

[2019-05-02 04:14] mhidas commented on #419
That would be possible, though it would require changing the name of every column in the database (and in the harvester). I think it would be easier to add a single line of text at the top to state that all abundances are in "number per cubic metre".

As far as I understand, the parameters mapping harvester/schema ultimately produces a single-column view, which is essentially just lines of text to

[2019-05-02 04:27] bpasquer commented on #419
Yes, I confirm that's the way to go in this case 👍

[2019-05-03 01:34] jonescc commented on #416
Created pull request https://github.com/aodn/harvesters/pull/714 to fix incorrect time calculation.  Problem occurred when rounding to nearest second using Calendar instance.  Specifying the time zone does not fix the problem as the routine was assuming UTC dates were being passed.

[2019-05-03 02:13] lbesnard commented on #299
@bpasquer , the change on the parameter mapping was done, deployed on RC. However the change didn't do anything via portal-rc. Anything I'm missing ?

[2019-05-03 02:28] jonescc commented on #413
I'll have a look.

[2019-05-03 02:50] jonescc commented on #413
The file was deleted a long time ago

[code]

We are currently up to run 1771

[code]

Not sure what happened back then and why the records weren't cleaned up at the time.  Regardless, you would still expect that the del command should trigger the delete action and remove the records.

Unfortunately, up until recently, the delete action would only be triggered if a delete hadn't already been perfo

[2019-05-03 03:14] jonescc commented on #413
I kicked off a build for the harvester and have promoted it to RC for testing.  Should be deployed shortly.

[2019-05-03 03:34] bpasquer commented on #299
Yes there is still no faimms_metadata_summary view in the parameters_mapping schema. The view has to be created in the harvester. I'll take care of it if you want.

[2019-05-06 00:17] ggalibert opened #420 "talend aodn_imas_fluorometry in error"
Talend harvester aodn_imas_fluorometry is highlighted by Nagios to have output errors. Who is responsible for this harvester and what can we do about it for Nagios to be happy?

[2019-05-06 00:18] ggalibert opened #421 "talend aodn_ran_ctd to be decommissioned"
Talend harvester aodn_ran_ctd is highlighted by Nagios to have output errors. Who is responsible for this harvester and what can we do about it for Nagios to be happy?

[2019-05-06 00:19] ggalibert opened #422 "talend soop_auscpr in error"
Talend harvester soop_auscpr is highlighted by Nagios to have output errors. Who is responsible for this harvester and what can we do about it for Nagios to be happy?

[2019-05-06 00:20] ggalibert opened #423 "talend tsunami_buoys in error"
Talend harvester tsunami_buoys is highlighted by Nagios to have output errors. Who is responsible for this harvester and what can we do about it for Nagios to be happy?

[2019-05-06 00:22] bpasquer commented on #421
It's one of the harvesters we can decommission
see https://universitytasmania-my.sharepoint.com/:x:/g/personal/craig_jones_utas_edu_au/EesdOfukYDxMhO-SG9f8pbwBnO-gMc3FYvmi9ljBYEOQVA?rtime=pCwDzLjR1kg

[2019-05-06 01:00] ggalibert commented on #423
This harvester can be decommissioned?

[2019-05-06 02:29] lbesnard commented on #413
@jonescc

The new version of the harvester is on RC

[code]

I performed a po_s3_del
[code]

however the file is still in the database (and set a deleted TRUE)

[code]

So it doesn't look like it worked

[2019-05-06 03:11] diodon opened #424 "ANMN inconsistency in feature_type attribute"
From the last pull from [moorings_all_map](http://geoserver-123.aodn.org.au/geoserver/ows?typeName=moorings_all_map&SERVICE=WFS&REQUEST=GetFeature&VERSION=1.0.0&outputFormat=csv), a table of feature_type showed time**s**eries and time**S**eries. They should be the same.

Number of files by feature_type

|profile |        timeseries|         timeSeries|   timeSeries Profile|
|--------------|-------

[2019-05-06 03:47] mhidas commented on #424
I don't think this is a big deal. Technically CF says "The value assigned to the featureType attribute is case-insensitive" (http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#featureType), so you should always convert these attributes to lower case when comparing them.

[2019-05-06 04:22] diodon commented on #424
ok.

[2019-05-06 04:22] #424 closed

[2019-05-06 04:55] atkinsn commented on #418
Added

[2019-05-08 05:04] lbesnard commented on #418
@atkinsn Different issue but related. Would it be possible to change in the content of the info tab of step 2 ?

removing the link to s3 and adding a link to the NetCDF's ?
NetCDF files via THREDDS catalog

Thanks a lot

[2019-05-08 05:30] lbesnard commented on #299
done. working on Prod

[2019-05-08 05:30] #299 closed

[2019-05-08 07:40] jonescc commented on #413
Hmm.  Talend craziness.    In the source code the connection to use for the commit is not set (see https://github.com/aodn/harvesters/blob/master/workspace/SOOP_XBT_NRT/process/SOOP_XBT_NRT_subjobs/deleteData_0.1.item#L90).  But when you go into the harvester and look at it it shows tPostgresqlConnection_1.   I think its just showing the options available but it it hasn't actually been set.   I se

[2019-05-08 22:26] jonescc commented on #413
Also note that the test scripts we are currently writing for the talend upgrade would have picked up this problem as we try to exercise each harvester path (delete/update/add)

[2019-05-09 03:29] atkinsn commented on #418
Done - will show on the Portal tomorrow

[2019-05-09 03:29] #418 closed

[2019-05-09 07:02] lbesnard commented on #413
cleaned

[2019-05-09 07:02] #413 closed

[2019-05-15 01:18] jonescc opened #425 "soop_auscpr null pointer exception"
While testing this harvester for the upgrade, I notice its skipping the zoop harvest step due to a null pointer exception:

[code]

[2019-05-15 05:27] mhidas commented on #425
This is due to a change in the zoop table columns at the CSIRO end. The updated table can be downloaded as CSV and then harvested by the new PLANKTON_PRODUCTS harvester. This currently needs to be done manually.

Possible solutions:
* Deactivate the `zoop_harvest` subjob -- this is the easiest, but it means we will no longer be getting a daily harvest of the latest cpr zoop data.
* As above, plus

[2019-05-15 05:29] mhidas commented on #425
So in the short term I think we should do 1. above, possibly followed by 2. at some point.

[2019-05-20 00:09] ggalibert commented on #420
Xavier did the work on that one in 2016. @smancini who is the contact at IMAS for this? Emma Flukes? Need to check first that running this harvester is still relevant.

[2019-05-20 00:22] lbesnard commented on #422
I have never done anything related to auscpr

[2019-05-20 00:41] ggalibert commented on #422
redundant with https://github.com/aodn/content/issues/425

[2019-05-20 00:41] #422 closed

[2019-05-20 00:46] ggalibert commented on #416
It would be useful to know for each impacted harvester what are the data files that were affected so that they can be harvested again after harvesters are fixed by above PR. @jonescc do you think this list could be programmaticaly generated?

[2019-05-20 02:09] atkinsn commented on #420
Yes its Emma @ggalibert

[2019-05-20 21:45] jonescc commented on #423
Looks like it.   Its not used in production (no metadata/geoserver_config).

[2019-05-21 00:09] ocehugo commented on #416
Would not be more strict to add a test/schema for time monotonicity for the respective datasets ? Other non-monotonic datasets can also be handled by adding a restriction on the number of non-monotonic intervals.

[2019-05-21 00:54] jonescc commented on #416
@ggalibert, yes it should be possible to query the db to identify files which should be reprocessed where reprocessing all is not practical.  Just need to identify potentially problematic timestamps in the db and relate them back to the files from which they came.  I'll have a look at an example query.

[2019-05-21 00:55] jonescc commented on #416
@ocehugo I believe monotonicity checks are included in the compliance checker.  It may be worthwile adding some checks to the database as well.

[2019-05-21 02:29] ocehugo commented on #416
@jonescc,

I don't know about the DB schemas or even how to implement it, but one thing that I think is a fact is that the DB schemas are probably not as complete as can be coded in normal conditions.

Thus, it's not better to create a round-trip workflow to check input/output mismatch?

This could be as simple as converting the results back from the DB, writing to a file copy, and running the che

[2019-05-21 03:15] jonescc commented on #416
yes, that makes sense, but requires a substantial amount of work to do the create_file_from_db_fields step - we recently decommissioned a service which did this due to the amount of work required to support it - we only had it working for one collection only

sounds like a backlog item is required to look at how we can validate the db against the source data

[2019-05-22 03:54] lbesnard opened #426 "SOOP SST facet update"
the spirit of tasmania 2 data is handled by BOM (Helen Beggs) and is therfore part of the soop sst sub-facility.
the spirit of tasmania 1 data is handled by EPA (Randall) and is part of the soop tmv facility

the soop tmv collection is found in the "vessel of opportunity on fixed route'. I feel like it should be the same for soop sst

FYI @smancini

[2019-05-22 04:45] atkinsn commented on #426
@lbesnard this is actually something that comes from me.

The reason that SOOP SST is discoverable under "vessel of opportunity" is because the majority of vessels delivering this data are this type of platform.

[2019-05-23 01:00] bpasquer commented on #421
Achieved with https://github.com/aodn/harvesters/pull/739
and
https://github.com/aodn/chef-private/pull/3217

[2019-05-23 23:01] jonescc opened #427 "Different grids for GSLA_NRT files prevents aggregations"
Refer https://github.com/aodn/issues/issues/445

[2019-05-24 02:05] #421 closed

[2019-05-24 02:08] bpasquer commented on #423
This issue is part of a wider discussion
https://github.com/aodn/internal-discussions/issues/441

[2019-05-24 02:12] bpasquer commented on #377
improve by
https://github.com/aodn/data-services/pull/919

[2019-05-24 02:12] #377 closed

[2019-05-26 23:30] ggalibert commented on #427
@lbesnard could you please have a look and see if you can find out which files are inconsistent? In the year 2012: http://thredds.aodn.org.au/thredds/catalog/IMOS/OceanCurrent/GSLA/NRT00/2012/catalog.html LONGITUDE should be of length 641 yet there are a few files with length 640 only. Once identified we could ask Madeleine to re-process them.

[2019-05-26 23:53] mhidas commented on #425
Ok, 1. above was implemented in https://github.com/aodn/harvesters/pull/737 and the  harvester is no longer failing.

[2019-05-27 00:05] mhidas commented on #425
The second part of the solution I proposed above can be dealt with later (https://github.com/aodn/PO-Backlog/issues/1), so we can close this.

[2019-05-27 00:05] #425 closed

[2019-05-27 04:16] lbesnard opened #428 "SRS OC migration to generic schema [follow up]"
All SRS OC gridded files have to be pushed back to the incoming directory in order to be harvested by the generic timestamp harvester

1) list all files on S3 and push them back to the pipeline (product by product)
2) replace old geoserver layers with new SQL layer (and new  store)
3) delete srs_oc schema and harvester

[2019-05-27 06:30] bpasquer opened #429 "AODN_WAVE_DM timezone issue with value extracted in timezone UTC"
see  https://github.com/aodn/harvesters/issues/745
the issue is impacting the platform_coverage_start/end column only.
We will wait for TOS7 to be deployed to PROD  to correct the impacted value.
Fixing the issue imply reprocessing the earliest and latest file for each institution

[2019-05-28 04:27] ggalibert commented on #409
1 more file was uploaded corrupted on the 27 May from GUI. It has been added to the list above.

[2019-05-28 05:44] ggalibert commented on #309
@scosoli I don't know if you intend to re-process TURQ FV00 data files on a consistent grid like it's been done on FV01 files but please note this is causing problems for when users request an aggregated/subset product via the portal over the time period the antenna configuration changed.

[2019-05-28 06:06] scosoli commented on #309
I think I can reprocess everything on a consistent grid if that helps - and I can reprocess all historical data since the very beginning converting them in FV01 if preferred. But I would like to do that from the raw range-gated data (raw level), generate QC radials, create new vectors on the final grid and run the full QC tests on vectors. the reason I have not done that yet is that I am not confi

[2019-05-29 08:38] lbesnard commented on #427
@ggalibert  I ran a script on all 2012 only

Here are the affected files:
[code]

[2019-05-29 19:21] ggalibert commented on #427
Please check on all years/all files for length(LONGITUDE) != 641 or length(LATITUDE) != 351 just in case and advise Madeleine of the problem with a full list of inconsistent files.

[2019-05-30 08:01] lbesnard commented on #427
for reference

i ran
[code]
and then
(files in nc.gz create some complication with xarray and s3fs within python)
[code]

The good news is that I couldn't find any other bad data outside of the year 2012

[2019-06-03 00:14] scosoli commented on #309
I have gridded 2009-2012 data on the final grid for internal consistency. I have run the QC tests described in the manual and I am uploading the updated FV01 netcdf data. will do the same for the period 2012-2015 and all data should be consistent and aggregation should no longer fail

[2019-06-03 06:32] lbesnard opened #430 "STAARS climatology - no calendar"
See http://thredds.aodn.org.au/thredds/dodsC/CSIRO/Climatology/SSTAARS/2017/AODN-product/SSTAARS_daily_fit_001.nc.html

Does it make sense that DAY_OF_YEAR doesn't have any calendar info in the global attribute?

[2019-06-03 23:56] ggalibert commented on #309
@scosoli we need the FV00 files processed on a consistent grid re-uploaded (not the FV01). The RT collection is the one causing problem not the DM.

[2019-06-04 00:06] scosoli commented on #309
so what do you need then?regridded data withouth running QC?

[2019-06-04 00:30] ggalibert commented on #430
Please read http://cfconventions.org/cf-conventions/v1.6.0/cf-conventions.html#calendar and let me know what you think.
The dataset's intent as a climatology is really to say "this is what the temperature is on the 1st of Jan, 2nd of Jan, etc... for any possible year between 1992 and 2016". We don't really care about the full date with a year. The variable has a unit to transform to an arbitrary d

[2019-06-04 01:26] ggalibert commented on #309
Yes, to produce FV00 files, that would be great thank you!

[2019-06-04 06:03] scosoli commented on #309
I have set up a couple of matlab script for the purpose and files are being generated

[2019-06-04 06:58] ggalibert commented on #309
Thank you @scosoli , I believe the error with your files are that some global attributes are missing and yet required for our pipeline to ingest them successfully. @lbesnard will show you the difference and you will be able to add the missing global attributes.

[2019-06-04 07:19] lbesnard commented on #309
@scosoli it seems like your files which are landing in the error directory don't have all the global attributes required, especially the time_coverage_start and end ones.

See for example the list of global attributes in a good file
http://thredds.aodn.org.au/thredds/dodsC/IMOS/ACORN/gridded_1h-avg-current-map_non-QC/TURQ/2019/06/04/IMOS_ACORN_V_20190604T000000Z_TURQ_FV00_1-hour-avg.nc.info

Howev

[2019-06-04 07:34] scosoli commented on #309
This is weird as I am using exactly the same scripts I am using for the most recent RT files.

[2019-06-04 07:45] scosoli commented on #309
found error on my side - all working properly now.I tested upload to the portal and the file is showing up already

[2019-06-04 07:54] scosoli commented on #309
now, however, file still seems to have the wrong grid dimensions (55x57 instead of 59x60). global attributes have been updated with respect to previous version, but not variable dimensions. the file on my mac is on the opposite showing the correct grid size

[2019-06-05 00:35] lbesnard commented on #309
this is extremely bizarre since we don't modify the files. Can you point me to the file you're talking about ?

[2019-06-05 04:30] lbesnard opened #431 "SOOP TMV NRT schema to delete"
Since the SOOP TMV NRT data is now under the "soop_tmv" schema. I would recommend that we remove the "soop_tmv_nrt" schema from RC and PROD harvest databases.

Can @smancini and @ggalibert approve this on this thread so we can move forward with @ccmoloney

[2019-06-06 00:29] scosoli commented on #309
that seem to have gone. now I have another problem with a few files that I need to fix. sorry about that, will do today

[2019-06-06 00:40] scosoli commented on #309
for instance, compare IMOS_ACORN_V_20121027T010000Z_TURQ_FV00_1-hour-avg.nc and IMOS_ACORN_V_20121027T020000Z_TURQ_FV00_1-hour-avg.nc; something has gone wrong during the gridding and seem to affect only data after IMOS_ACORN_V_20121027T020000Z_TURQ_FV00_1-hour-avg.nc

[2019-06-06 04:40] scosoli commented on #309
it looks like the grid size was randomly swapped from (I=55, J=57) to (I=57, J=55) without any apparent motivation and this has added some complication to the regridding process. examples of the resulting surface current vector maps are attached. I need to manually find the affected times and convert the files properly
![20121027T010000](https://user-images.githubusercontent.com/20392257/59007269-

[2019-06-06 07:47] lbesnard commented on #409
@scosoli the following files landed in the error directory today. They are either corrupted, or lacking pretty much everything.

[code]
I think the matter is quite urgent.

[2019-06-06 08:03] scosoli commented on #409
will see what I can do. but it will have to wait as I have other  priorities right now

[2019-06-12 02:37] scosoli commented on #309
this is is found in the file IMOS_aggregation_20190528T071811Z.nc and also on the thredds portal. there is little to no indication of what may have happened but the SSS-UWA for the TURQ coast has a different set of combine grids.
A list of time instants affected is given below, for a total of 440 files / times:

Date				index (in the IMOS aggregated file)
------------------------------------------

[2019-06-12 10:12] scosoli commented on #309
I have uploaded the regridded files to the portal- to the best of my knowledge, this issue can be closed

[2019-06-13 02:45] scosoli commented on #409
we have started investigating what is going on - I have asked @badema to have a look and there's a couple of ongoing issues that need to be fixed

[2019-06-13 04:16] scosoli opened #432 "ACORN grid inconsistency for SAG currents between 2013 and 2014"
I have been contacted recently by a user in SA about a problem with DM FV01 vectors occurring between December 2013 and January 2014. Aggregation works properly as I have downloaded the entire FV00 and FV01 data sets, however data since 20140101 are mapped on a rotated grid relative to data up to 20131231. will fix this and re upload files.

[2019-06-13 04:47] lbesnard commented on #416
@jonescc

I ran the following sql as an example of the soop tmv nrt collection. Do you feel like this is the most efficient way of doing this ?

[code]

[2019-06-13 05:58] scosoli commented on #432
FV00 aggregated, 20140101T0030, looking reasonable:
20140101T003000-aggregated-FV00.png

FV01 aggregated, 20140101T0030, looking not so much reasonable:
20140101T003000-aggregated-FV01.png
FV00 from the thredds portal, 20140101T0030, looking reasonable:
20140101T003000-thredds-FV00.png
FV01 from the thredds portal, 20140101T0030, looking as expected:

20140101T003000-thredds-FV01.png

[2019-06-13 05:59] scosoli commented on #432
![20140101T003000-aggregated-FV00](https://user-images.githubusercontent.com/20392257/59407308-5b721e00-8da0-11e9-8068-6886d9f59058.png)
![20140101T003000-aggregated-FV01](https://user-images.githubusercontent.com/20392257/59407310-5c0ab480-8da0-11e9-8e27-f0259633052a.png)
![20140101T003000-thredds-FV00](https://user-images.githubusercontent.com/20392257/59407311-5c0ab480-8da0-11e9-9a3d-83e84267d5

[2019-06-13 07:17] lbesnard commented on #416
* [ ] __AATAMS_SATTAG_NRT__

<details close>
  <summary>SQL query</summary>

[code]

</details>

list of affected files:
* * *

* [ ] __AATAMS_SATTAG_QC_CTD__

<details close>
  <summary>SQL query</summary>

[code]

</details>

list of affected files:
* * *

* [ ] __ABOS_SOFS_SURFACE_FLUXES__

<details close>
  <summary>SQL query</summary>

[code]

</details>

list of affected files:
* * *

* [ ]

[2019-06-13 07:30] jonescc commented on #416
I was initially worried about the use of date and date_trunc after our recent issues using these but in this case where you're operating against a timestamp without time zone it seems to work OK. Will also probably work with timestamp with timezone columns as the time zone of the db is set to UTC (but check!!)

I couldn't find a faster way of getting the results - with this many filter conditions

[2019-06-13 07:36] jonescc commented on #416
PS. we should probably add in the recent daylight saving change.   May be some datasets with those times now.

[2019-06-13 08:06] jonescc commented on #416
So that's date/times between 2019-04-06 16:00:00 and 2019-04-06 17:00:00 are also suspect

[2019-06-14 04:44] ggalibert commented on #309
@kereid  could you please check that an aggregation job performed over the whole time period of the TURQ RT collection is completed successfully? Then close if successful.

[2019-06-14 04:48] kereid commented on #309
Will do :-)

[2019-06-14 05:24] scosoli commented on #432
@kereid @ggalibert how do we deal with empty files in the catalog?  I have ran QC for 2013 data and found that some of the data originally on the thredds portal are empty; for instance: 10-May-2013 07:30:00; 09-Aug-2013 23:30:00; 18-Aug-2013 04:30:00, U-V and other variables are filled with nan's. I usually tend not to generate and upload these files when no data are available. what do we want to

[2019-06-15 01:19] ggalibert opened #433 "ACORN empty files"
I suppose for transparency it would be better to still have these files on THREDDS with NaNs everywhere. That way a user knows that the instrument has produced a file but unfortunately there was no good data collected at all during this time period. Otherwise the user will want to contact AODN or ACORN to confirm whether:
1. there was no data collected
2. data has been collected but not transferre

[2019-06-15 01:19] ggalibert commented on #432
This is a separate issue, in the future please open a different issue. See https://github.com/aodn/content/issues/433.

[2019-06-15 02:20] scosoli commented on #433
good, will upload the updated FV01 version retaining these empty files for consistency. thanks for confirming that

[2019-06-16 21:45] kereid commented on #309
Download succeeded so closing

[2019-06-16 21:45] #309 closed

[2019-06-17 06:43] lbesnard commented on #416
@mhidas could you have a look at this https://github.com/aodn/content/issues/416#issuecomment-501581043 and check which of your files need to be reprocessed?
I'd rather leave that to you as ANMN is a complicated one

[2019-06-19 10:54] scosoli commented on #432
all files have been updated and uploaded to the portal. I do not anticipate any further problems at this regard

[2019-06-19 10:54] #432 closed

[2019-06-26 06:26] mhidas commented on #293
I'm re-processing all the burst files now that the v2 pipelines will automatically process any new files coming in. Some of the FV01 files mentioned above may have been re-processed in the past 2 years. Rather than updating the lists above, I'll start a new one here.

### Non-compliant input files
[code]

[2019-07-11 01:15] ggalibert opened #434 "SOOP TMV NRT issues"
- [x] metadata record should include chlorophyl parameter.
- [x] link to THREDDS resource in metadata record is not correct. Should be `http://thredds.aodn.org.au/thredds/catalog/IMOS/SOOP/SOOP-TMV/VLST_Spirit-of-Tasmania-1/realtime/catalog.html` with **l** at the end.
- [x] some netcdf 1 sec files still have CPHL and TURB in count while metadata says engineering units: see IMOS_SOOP-TMV_TSUB_2018

[2019-07-12 01:15] lbesnard commented on #434
I don't understand why yet, but this is because those files were not reprocessed. Their date is "2019-03-07T00:10:03Z"
I need to investigate, but most likely due to the fact that maybe the log files were lost (?) and not re-pushed.

This is the case for ALL new realtime files re-processed in mid-June. But linked to the reason written above

[2019-07-12 02:00] lbesnard commented on #434
affected files:

[code]

need to find the associated log files now

[2019-07-12 04:00] lbesnard commented on #417
fixed. I ran the following aggregation to make sure of it
https://processes.aodn.org.au/wps/jobStatus?jobId=d409ee6b-a218-4de1-90ff-79cc26828fe2&format=HTML

[2019-07-12 04:00] #417 closed

[2019-07-12 07:30] lbesnard commented on #434
Some files with a time dimension equal to one must be deleted. For the rest, I need to find the log files
[code]

[2019-07-15 16:50] ggalibert commented on #434
I haven't been able to confirm this. Please see http://thredds.aodn.org.au/thredds/dodsC/IMOS/SOOP/SOOP-TMV/VLST_Spirit-of-Tasmania-1/realtime/transect/1sec/2019/IMOS_SOOP-TMV_TSUB_20190620T093451Z_VLST_FV00_transect-M2D_END-20190620T194830Z.nc.html, the variable attributes mentionned above are missing for a file processed 2019-06-21T09:39:52Z

[2019-07-16 02:10] lbesnard commented on #434
sorry my bad
fix here:
https://github.com/aodn/python-aodndata/pull/147

[2019-07-17 01:47] lbesnard opened #435 "Argo - new simplified profiles break pipeline"
email sent to support@argo.net after corrupted pipeline.

New Simplified profiles type of files were received without mention of them in the documention. These files are also fairly different breaking the Talend harvester. (example dac/aoml/2900114/profiles/SD2900114_214.nc)

In the meantime, I will change the rsync script so we do **not** download those SD files

[code]

[2019-07-17 03:37] lbesnard commented on #435
https://github.com/aodn/data-services/pull/944

[2019-07-22 06:20] bpasquer opened #436 "AODN WAVE NRT missing all QLD buoys"
Near realtime data from waverider buoys operated bu the QLD Department of Environment and Science are not displayed on the layer.

[2019-07-22 23:47] bpasquer commented on #436
The first investigation shows that QLD buoys data are not provided in BOM WFS feed. Contacted BOM for information.

[2019-07-24 01:11] jonescc opened #437 "No index supporting time filtering on soop_tmv_nrt_trajectory_data"
Problem identified in https://github.com/aodn/issues/issues/482

In that issue it was noticed that a download request for soop_tmv_nrt_trajectory was timing out.  The request was for:

    INTERSECTS(geom,POLYGON((144.5361328125 -41.2216796875,144.5361328125 -38.4091796875,148.0517578125 -38.4091796875,148.0517578125 -41.2216796875,144.5361328125 -41.2216796875))) AND TIME >= '2019-04-20T00:00:00.

[2019-07-24 02:47] lbesnard commented on #434
The smallest count of CPHL across the current dataset is 4 ```(−0.4428÷0.0123)+40 = 4```,  so unless we use a calibration_blank < 4, we will always have negative values. but at the same time, maybe this count value is bad data anyway.

I'll change the calibration_blank to 40. Will still be an improvement

[2019-07-24 03:04] lbesnard commented on #409
@scosoli, after the current communication outage we had since last night, a few more files landed in our incoming directory empty.

Here is an update version of ALL the files with issues:
[code]

[2019-07-25 03:03] ocehugo commented on #427
Given the data is regular and versioned (NRT00), it should have a more strict schema to be accepted on the pipeline. This way the operator is aware of it automatically when uploading and can fix in place.

[2019-07-25 07:21] atkinsn commented on #434
Metadata record has been updated to include chl parameter, and THREDS link has been fixed.

[2019-07-26 01:16] lbesnard commented on #431
This is still relevant.

[2019-07-29 02:17] lbesnard commented on #434
all files were reprocessed over the weekend. + cleaning of files over land
as an example
http://thredds.aodn.org.au/thredds/dodsC/IMOS/SOOP/SOOP-TMV/VLST_Spirit-of-Tasmania-1/transect/2014/04/IMOS_SOOP-TMV_KSTUZ_20140401T083740Z_VLST_FV02_transect-M2D_END-20140401T184530Z.nc.html

I still have some files to delete (see comments above)

[2019-07-29 02:42] ggalibert commented on #431
Please create a backlog item for this https://github.com/aodn/backlog/issues with label new and top of backlog milestone.

[2019-07-29 07:01] lbesnard commented on #437
this was added to the harvester and deployed to aws10.

[2019-07-29 07:06] #435 closed

[2019-07-29 07:10] #434 closed

[2019-07-30 02:26] lbesnard opened #438 "aatams sattag"
Part of the aatams sattag workflow is to download from an FTP server the newly available data. This is done in the following script, which I wrote, via a cronjob
https://github.com/aodn/data-services/blob/master/AATAMS/AATAMS_sattag_nrt/aatams_nrt.py#L66

This script uses the following metadata file, which used to be edited by Xavier to add the new wmo ids:
https://github.com/aodn/data-services/bl

[2019-07-30 02:39] lbesnard opened #439 "australian phytoplankton static harvester"
The static version (instead of the ongoing one) of the Australian phytoplankton db harvester ran today by mistake on aws10:
aus_phyto_db

A backup of the schema 'aus_phyto_db' (and **NOT** 'aus_phyto_db_ongoing') should be uploaded to overwrite the changes done.

[2019-07-30 03:32] ggalibert commented on #439
Can you please create a backlog item?

[2019-07-30 03:36] atkinsn commented on #439
@ggalibert this is related to a DOI and a Data paper, so this is an issue that needs to be rectified ASAP, so its a bug.

[2019-07-30 04:05] atkinsn commented on #439
@lwgordonimos is restoring this now. Estimate is a couple of hours, so for now, I won't worry about deactivating the DOI etc.

[2019-07-30 04:10] lwgordonimos commented on #439
Well, that didn't take as long as I feared...

@lbesnard could you do a quick spot check on the RC database to confirm that the `aus_phyto_db` schema is as expected? If so, I will restore to prod.

[2019-07-30 05:58] lwgordonimos commented on #439
@atkinsn @lbesnard this schema has now been restored on production

[2019-07-30 06:06] lwgordonimos commented on #439
For posterity, the actions taken were:

[code]

[code]

[2019-08-01 08:13] ocehugo opened #440 "ANMN ADCP reprocessing epic"
Issue  https://github.com/aodn/imos-toolbox/issues/522  need to be solved by reprocessing all ADCP files.

No action is required at the moment, given https://github.com/aodn/imos-toolbox/issues/540 need to be resolved first.

This is here so we can track efforts after the above dependency is solved.

[2019-08-04 21:59] ggalibert opened #441 "SOOP TMV Spirit of TAS realtime missing 2016"
Spirit of TAS realtime transect data NetCDF and .log files are missing for year 2016: http://imos-data.s3-website-ap-southeast-2.amazonaws.com/?prefix=IMOS/SOOP/SOOP-TMV/VLST_Spirit-of-Tasmania-1/realtime/transect/1sec/ .

[2019-08-05 05:11] bpasquer commented on #441
I have notes from back in December 2015 mentioning an update/review in progress at EPA of the SOOP-TMV NRT workflow. The data flow was interrupted during the update and lasted until early Jan 2017(made a note on 03 Jan 2017 about receiving TMV near real-time data )

[2019-08-07 04:26] atkinsn commented on #272
@mhidas are you able to let me know which moorings theses instruments are on?

[2019-08-07 07:50] mhidas commented on #272
This may be incomplete, but here's what I know (site codes) based on the files we have:
ECO-Triplet: only at NRSROT
ECO-PARS: GBRHIS, GBRMYR, GBRPPS, NRSYON

[2019-08-12 02:55] ggalibert commented on #433
@scosoli, we have received some empty files on Wed 7 August however they didn't get successfully processed by our ingestion pipeline:

[code]
These files don't hold any data (only NaNs) and that's fine, but there is not a single global attribute nor variable attribute (metadata). At this stage the pipeline is failing because `creation_date` is missing for example. Ideally, the template used should

[2019-08-12 03:08] scosoli commented on #433
I don't understand why you would have received data from 2010 on Wed 7 aug.2019, they are not even in the processing chain any more. need to investigate that a bit more.
other more recent files may have been corrupted while generating the netcdf. need to find the error and correct that. On a side note, I had to reprocess and upload radials from LANC and vectors from TURQ as channel1 and channel3 w

[2019-08-12 04:54] scosoli commented on #433
upload of the file IMOS_ACORN_V_20100427T140000Z_TURQ_FV00_1-hour-avg.nc was successful. I have no final answer as to why it didn't go through in the previous round

[2019-08-12 05:57] scosoli commented on #433
I have manually checked the 201907 files you listed above and yes indeed there was something funny going on there. I ran the same procedure I run in RT and generated new files for the same dates. now files are uploaded to the portal with no problem. The only thing I changed is an internal flag in the matlab procedure that was meant to check for the .nc file existence and modified that, but I don't

[2019-08-12 06:09] #433 closed

[2019-08-12 08:14] scosoli commented on #409
I am reprocessing  and uploading the corrupt files. So far I have reprocessed with the matlab version of the RT scripts the files from CWI, and as far as I can see they seem to have landed successfully to the portal. please correct me if I am wrong and I'll investigate that more in detail

[2019-08-12 10:15] scosoli commented on #409
as far as I can see, all files that have been reported above as corrupt have been reprocessed and uploaded to the portal. please report any file I may have missed

[2019-08-13 23:57] ggalibert commented on #409
@scosoli thank you for that. I can confirm that most files have been re-uploaded successfully except one. Unfortunately there has been some new corrupted files that landed 2 days ago. Please [see above](https://github.com/aodn/content/issues/409#issue-422043425) for the most recent list of corrupted files to be re-uploaded.

[2019-08-14 05:08] scosoli commented on #409
I can't see why the file would fail. can you provide more details?

[2019-08-22 00:09] ggalibert commented on #409
Taking one of the files as an example, it was first uploaded with a length of 291620 bytes and then exactly 15 minutes later a zero length file was uploaded.

[code]
The first file was successfully published, with the expected file length:
[code]
The smoking gun is really that second upload of a zero length file, suggesting a script bug on your side.

[2019-09-05 02:55] ggalibert commented on #409
Another empty file came up yesterday. See [updated list](https://github.com/aodn/content/issues/409#issue-422043425) above.

[2019-09-10 02:53] #441 closed

[2019-09-10 02:53] #437 closed

[2019-09-11 07:23] #439 closed

[2019-09-16 07:27] ggalibert commented on #427
Response from Madeleine:

[2019-09-19 01:57] bpasquer opened #442 "Waverider buoy Temperature data not harvested"
Temperature data available in  QLD waverider data files are not harvested in the database.
Ex for Albatross Bay:
`SELECT COUNT(m."TEMP") from aodn_wave_dm.measurements m
JOIN aodn_wave_dm.deployments d on m.file_id=d.file_id where d.platform_code ='55028'`

| | Count|
|-|-|
|1|0|

[2019-10-03 04:56] atkinsn opened #443 "Current collections in Portal "backlog""
We have a number of “outstanding" ongoing data collections that aren’t in the Portal yet, so I thought it would be useful to document these in one spot. ALL contain some IMOS data.

To join the other databases on the Portal (didn’t require a DOI)

- [ ] The Australian Zooplankton Database (1938 onwards) - https://catalogue.aodn.org.au/geonetwork/srv/eng/metadata.show?id=484052&currTab=advanced

[2019-10-04 04:31] atkinsn opened #444 "ACORN station tidy up in data reports"
Here is a reminder about our discussion (from August) around noticing that in the latest Data report that there were several stations listed under site “null”

•	Some are due to being stations that have been added to replace others
•	The rest is due to a site of Coral Coast not being produced.

[2019-10-28 06:02] ggalibert commented on #409
Another empty file came up on Sun 20/10/2019. See [updated list](https://github.com/aodn/content/issues/409#issue-422043425) above.

[2019-10-28 06:09] scosoli commented on #409
Yes I was notified on my email too. we're having some annoying issues with CWI and we don't seem to be able to find the source. looks like an incompatibility with the cpci or some faulty cables

[2019-11-04 04:02] ggalibert commented on #272
PAR and CDOM are currently found in "Biogeochem_timeseries". It is not unusual to see them collected at the same time as other biogeochem variables. When collected alone, we could continue to put them in "Biogeochem_timeseries" for consistency.

[2019-11-04 04:05] ggalibert commented on #398
When the hourly product is on the portal and data harvested in database for CSVs, we could decomission this collection yet keep the burst avg files on THREDDS.

[2019-11-04 22:00] mhidas commented on #272
@ggalibert I agree.

[2019-11-05 01:09] bpasquer opened #445 "Data cut off at 10 m in BOM wave data NetCDF files prior to 2008"
The issue has been identified by a user from IFREMER for Cape Sorell and Cape du Couedic.  Data like Maximum wave height (WMXH) seem to be cut off at 10m. The issue is impacting data stored in text
 files only.  Looking at the original data file, it appears that the data is stored in space-delimited which results in fields being collated for value above 10, for ex

The value 10.37 is stored as 0.3

[2019-11-05 02:14] bpasquer commented on #445
Deleted form S3 all the affected files:

Bureau_of_Meteorology/Waverider_Buoys/DELAYED/Cape_Sorell/BOM_W_19981231T140107Z_SORELL_WAVERIDER_FV01_END-19991231T133000Z.nc
Bureau_of_Meteorology/Waverider_Buoys/DELAYED/Cape_Sorell/BOM_W_19991231T140108Z_SORELL_WAVERIDER_FV01_END-20001231T133000Z.nc
Bureau_of_Meteorology/Waverider_Buoys/DELAYED/Cape_Sorell/BOM_W_20001231T140107Z_SORELL_WAVERIDER_FV01_EN

[2019-11-15 02:53] #445 closed

[2019-11-18 22:49] craigrose opened #446 "Queries to SOOP_TRV can take a long time"
For details see: https://github.com/aodn/issues/issues/591

[2019-11-25 04:08] ocehugo opened #447 "ANMN files not compliant with new name policy"
The IMOS toolbox has a new policy:

The start/end dates on the filename should be the "time_deployment_start" & "time_deployment_end" global attributes.

See https://github.com/aodn/imos-toolbox/issues/541 for more details.

ATM, about ~1000 files are not compliant with this policy. They can be found here: https://github.com/aodn/imos-toolbox/files/3862008/541.zip

The quickest way to fix this iss

[2019-11-27 06:17] lbesnard commented on #446
blocked by https://github.com/aodn/issues/issues/601

[2019-11-28 00:34] lbesnard commented on #446
the WFS view definition is :

[code]

The table it refers to, ```measurements_merged_data```, has an index on TIME
[code]

as well as other indexes
[code]

@jonescc , do you suggest I drop the measurements_mergedtriptime_idx and measurements_mergedtime_idx indexes since they are actually unused since the fefinition should be on ```timezone(

[2019-11-28 05:59] #446 closed

[2019-12-16 23:13] lbesnard opened #448 "SOOP XBT DM metadata - data until 2014 only"
The SOOP XBT DM record coverage end is 2015 while we have data for 2019.

@atkinsn . Do you remember how this is set?

[2019-12-17 02:30] atkinsn commented on #448
Its in the metadata - at one stage the data mustn't of been ongoing, I have removed the "end" date, so it will match with the current date.

[2020-01-24 05:13] jonescc opened #449 "Instrument vocabulary includes term description with trailing space"
“RBR TGR-2050 submersible tide gauge ” has a trailing space.

Causing some issues with cloud deploy deployment of vocabularies due to GeoNetwork which stripping this out so that its different to the published vocabulary

[2020-01-24 05:13] jonescc commented on #449
@atkinsn

[2020-02-04 05:06] lbesnard commented on #438
@evacougnon this is old, but I feel we probably can close this

[2020-02-04 05:12] lbesnard commented on #429
@bpasquer do we have to push those files back or is this done?

[2020-02-04 05:20] #423 closed

[2020-02-04 05:31] bpasquer commented on #429
The relevant file have not been re-pushed as far as I can remember

[2020-02-04 05:35] lbesnard commented on #429
ok, but I don't find it clear which files need to be re-push

[2020-02-04 05:46] #448 closed

[2020-02-04 23:53] bpasquer commented on #429
The data in DB prod are correct. The issues has been fixed when we reprocessed the dataset a few months ago.

[2020-02-04 23:53] #429 closed

[2020-02-07 02:19] evacougnon commented on #438
yes @lbesnard it is not relevant now, as we are setting up a new harvester. The new way we will harvest the data will include all the data we need to harvest, including metadata. So, we won't need to look at the csv at:

[2020-02-07 02:21] #438 closed

[2020-02-12 00:14] bpasquer opened #450 "SOOP-ASF Meteo & Flux products: Missing Flag description in metadata header"
The definition of "_FLAG" variables is not provided in the metadata header.
These flags provide information on the different sensors.

[2020-02-13 22:19] #154 closed

[2020-02-17 03:24] ocehugo opened #451 "Wrong grid for ACORN HF CBG Hourly QC dataset"
Problem: We still got some files with a different grid for the ACORN CBG collection. This is blocking the aggregation service, since the grid on those files is different from others. Blame files are between 2008-06-02 and 2008-06-12 and were uploaded in Oct/2015.

Solution: Re-upload corrected files.

@scosoli, may you check/reupload the files below!?

Files below do not follow the standard Lon/la

[2020-02-17 03:33] scosoli commented on #451
we are aware of the problem and need to regrid data on the proper grid. these files were not generated @ UWA but @ emii and have several issues, including non-up-to-date Conventions (CF-1.5,IMOS-1.2) and non consistent QC tests - flags

[2020-02-17 03:34] scosoli commented on #451
same would apply for COF data, while all data for ROT, SAG, TURQ have been upgraded recently

[2020-02-17 03:42] ocehugo commented on #451
@scosoli , thanks for the quick reply.

I will update the title to include COF too. Let me know if you need anything from us.

[2020-02-17 03:53] scosoli commented on #451
thanks hugo - my only question would be, by when would you need the updated data available? will prioritise this task over others if needed

[2020-02-17 04:04] ocehugo commented on #451
@scosoli,

I just checked and apparently the COF dataset can be aggregated - Hence, no grid problems. I'm removing it from the title to avoid confusion. Did you mean COF only need convention updates? If so, I think a new issue is the best thing to do.

it's not my call to define priority - @ggalibert!?

[2020-02-24 02:24] ggalibert commented on #451
If I understand well this corresponds to 10 days of data that needs re-processing by the facility. It is quite small so maybe not necessarily a high priority but in the meantime it is breaking the aggregation service from the portal: any aggregation request for this site that includes [2008-06-02; 2008-06-12] will fail.

@scosoli , would that be OK to remove these files from THREDDS/S3 (we can sti

[2020-02-24 02:30] scosoli commented on #451
let me download these data first then you can remove access from thredds/S3. will notify you when done.
We've found something funny on DM FV01 WERA radials after 201711070415 for all WERA sites, too. will open a separate ticket

[2020-02-24 02:47] scosoli opened #452 "ACORN - errors found in DM FV01 WERA radial data after 20171106T0415Z"
we've discovered some errors in the DM FV01 radials for WERA systems starting from 201711  and involving the ssr_Surface_Radial_Sea_Water_Speed variable. for some reason, it is written as signed integer. another variable that is affected - although in a different way, is 'ssr_Surface_Radial_Sea_Water_Speed_Standard_Error', whic is filled with '0-valued' data and a few metadata descriptors are also

[2020-02-24 03:19] scosoli commented on #451
There is a couple of issues here with the DM data set.
1, the same grid inconsistency is also found for RT data;
2, the grid seems to randomly change from dimension 80x80 to 64x72 for RT data
3, the FV01 DM data gridded on the 80x80 grid do not make sense. there is a clear mistake during the reshaping of a matrix. see attached godiva maps for the same data, the first for RT and the second for DM d

[2020-02-24 03:20] scosoli commented on #451
![Screen Shot 2020-02-24 at 3 18 25 am](https://user-images.githubusercontent.com/20392257/75127015-8e510d80-56b4-11ea-8036-4241625df313.png)
![Screen Shot 2020-02-24 at 3 17 55 am](https://user-images.githubusercontent.com/20392257/75127019-9315c180-56b4-11ea-8cc8-63daec58e206.png)

[2020-02-24 03:21] scosoli commented on #451
sorry, attached the same plot twice. the correct image for the 'wrong' DM FV01 is below:
![Screen Shot 2020-02-24 at 3 20 47 am](https://user-images.githubusercontent.com/20392257/75127049-c8baaa80-56b4-11ea-88c6-1b241e8c55a8.png)

[2020-02-24 03:25] scosoli commented on #451
the pattern shown in the second (third) plot is consistent within the entire time frame listed by @ocehugo above. @ggalibert I think you should remove with no hesitation the FV01 data while we fix them from scratch

[2020-02-25 04:15] ocehugo commented on #451
Thanks @scosoli.

FV01 Affected files unindexed & removed.

PS: I assume the FV00 would be re-uploaded/overwritten together with the new FV01!? I didn't remove since they don't break anything but I'm willing to do so if helps to maintain consistency.

[2020-02-25 08:04] #272 closed

[2020-02-25 08:41] scosoli commented on #451
@ocehugo , yes, I will update also FV00 because they need to be regridded for consistency with other FV00 products.

[2020-02-27 04:51] mhidas opened #453 "Burst-averaging code fails when a variable has no good values"
The [code](https://github.com/aodn/python-aodndata/blob/master/aodndata/moorings/burst_average.py) used to average files from burst-sampling instruments crashes when it encounters a variable that has all its values (within a burst) flagged bad. It should just output a missing value for that burst.

The error in the pipeline log looks like this:
[code]

[2020-02-27 05:42] mhidas commented on #453
Sample files that reproduce this issue are in `10-aws-syd:/mnt/wip/ANMN/error_files/burst_averaging_fails/`

[2020-02-28 04:17] scosoli commented on #452
error was found in the ncread command that for some reason imported data as int32 rather than float. routine fixed and updated. pending reprocessing and upload of the updated radial velocity data for all WERA stations from 201711 on. will close this issue as soon as updated files have been uploaded to the portal

[2020-03-01 07:43] scosoli commented on #451
@ocehugo,  FV01 data for the subset listed above have ben regridded, QC'd and are ready to be uploaded. however, there may be an inconsistency before/after 2014q1 - not in terms of grid size but rather in terms of flipped dimensions.
data need to be flipped upside/down (latitude), and left/right (longitude, GDOP, UCUR/VCUR, UCUR_sd/VCUR_sd, NOBS1/NOBS2, UCUR_quality_control/VCUR_quality_control.
d

[2020-03-01 22:44] ocehugo commented on #451
@scosoli, thanks for the heads up.

1. I cannot locate the above files or logs of the upload. Did you really upload!?

2. IMO, you may wait to upload the entire record reprocessed. I think if the files are inconsistent with the rest it may cause more problems for the end-user than having no files.

PS: We don't use ncrcat for aggregation but java libraries. I think that if the files are inconsiste

[2020-03-01 23:44] scosoli commented on #451
hello @ocehugo , no I have not uploaded files yet. was waiting for some feedback. will reprocess all data consistently so to avoid possible issues with concatenation and also make sure all data are QC'd consistently.

[2020-03-11 07:11] scosoli commented on #451
@ocehugo, FV01 data for the time period (2007q4 to 2013q3), and also the files listed above, are ready for upload to the portal. will soon start uploading

[2020-03-12 05:33] scosoli commented on #451
@ocehugo @ggalibert , all data for the time period 2007Q4 to 2013Q4 are currently being uploaded (including the dataset listed here). grid issues should be fixed now and all data QC'd consistently with updated conventions and QC flags

[2020-03-12 06:14] ocehugo commented on #451
@scosoli - I'm watching it and will verify tomorrow if we got any problems along the way.

thanks

[2020-03-13 01:01] mhidas opened #454 "NRS BGC and SOOP AUSCPR harvests failing with SSL errors"
The talend jobs `anmn_nrs_bgc` and `soop_auscpr` harvest data via WFS from a CSIRO Geoserver. Since the 3rd of March they have both been failing every day, with errors like this:
[code]

[2020-03-13 01:04] mhidas commented on #454
Way down in the stack trace, there's this:
`java.security.cert.CertificateExpiredException: NotAfter: Tue Mar 03 10:59:59 AEDT 2020`

So I guess that's means CSIRO need to renew their certificate.

[2020-03-13 01:07] anguss00 commented on #454
Yes @mhidas, I've seen this issue when I was working on the datatrawler integration this iteration. I've made them aware of it on their end

[2020-03-13 01:22] mhidas commented on #454
Thanks @anguss00 I have also notified the people who manage the Geoserver.

[2020-03-13 02:38] ocehugo commented on #451
update: I will check again on Monday - still about ~20hours to go given every file is taking about ~3sec.

[2020-03-19 03:56] scosoli commented on #451
@ocehugo I believe all files have been uploaded. I did some aggregation tests and everything seems to be working fine. if you confirm this too, I think we can close this issue

[2020-03-19 04:49] ocehugo commented on #451
Yeap - all good.
I tested earlier this week but forgot to reply here.

Thanks

[2020-03-19 04:49] #451 closed

[2020-04-05 22:28] jonescc opened #455 "soop_trv harvester filling up storage with temporary tables"
Refer https://github.com/aodn/issues/issues/648

soop_trv uses a join with a group by condition to create merged measurements which requires the creation of billions of records on temproary storage.  Problem has been tracked down to using measurements from a file that has been deleted and from multiple files with the same measurement times pushed through the pipeline and old ones not deleted.   In

[2020-04-15 00:31] lwgordonimos opened #456 "Broken layers srs_surface_waves_sar_fv00_trajectory_map/srs_surface_waves_sar_fv01_trajectory_map"
These layers are broken due to database queries being extremely inefficient. The queries need to be refactored to use indexes properly, because these are running sequential scans on the tables to draw map tiles, which is unacceptable.

[2020-04-15 01:17] jachope commented on #456
Can we remove from the Portal until resolved?  What was the testing process that meant these were able to be published to Production?

[2020-04-15 01:49] lwgordonimos commented on #456
I suspect the issue is the filter on `url` being a string match on an unindexed column. This potentially could be fixed with an index, but substring matching is probably a poor way to filter anyway, it could probably have a more appropriate column type for efficient filtering.

[code]

[2020-04-20 05:04] ocehugo opened #457 "Update netcdf files with new acknowledgement"
The IMOS acknowledgement changed from :

`
Any users of IMOS data are required to clearly acknowledge the source of the material derived from IMOS in the format: "Data was sourced from the Integrated Marine Observing System (IMOS) - IMOS is a national collaborative research infrastructure, supported by the Australian Government." If relevant, also credit other organisations involved in collection

[2020-04-20 06:59] atkinsn commented on #457
@ocehugo we might need to chat further about this. I am pretty sure in the past when the IMOS office has changed this acknowledgment we haven't gone back and reprocessed all files, we have just updated the toolbox so that all new files (and any reprocessed files) would have it. I understood this task for you to be just about updating the toolbox. Will involve @kereid

[2020-04-20 08:11] ocehugo commented on #457
@atkinsn - ATM, my understanding is that updating historical files are required but low prioirty.The task to update the toolbox is already on the toolbox.

I created this so we may discuss if this is really required as you said and/or how should be done.

I also don't know if any other data/metadata need to be changed, so this was another reason to put this here.

PS: I think we should do it becau

[2020-04-20 23:06] atkinsn commented on #457
@ocehugo have just chatted to @kereid and we need to have a chat with @mhidas (re NetCDF checker) and @ggalibert about this.

[2020-04-20 23:18] mhidas commented on #457
I was just about to reply, to point out that the [IMOS checker plugin](https://github.com/aodn/cc-plugin-imos) would also need to be updated to allow the new wording.

Ideally the IMOS NetCDF Conventions document should also be updated. (Not that anyone can see that - I just spent 15 min trying to find a link to it on the IMOS website, without any luck!)

As for updating all the historical files,

[2020-04-20 23:25] kereid commented on #457
@mhidas yes we also discussed updating the document can find it in our userguide https://help.aodn.org.au/public-documents/imos/ , but on the list for discussion I'll send a meeting request out later today for us to all have the chat - possibly Thursday

[2020-04-20 23:42] bpasquer commented on #436
Closing now as its been resolved months ago by BOM

[2020-04-20 23:42] #436 closed

[2020-04-20 23:58] bpasquer commented on #268
Resolved by https://github.com/aodn/backlog/issues/1128

[2020-04-20 23:58] #268 closed

[2020-04-21 00:00] bpasquer commented on #254
Not relevant anymore - The pipeline will soon be decommissioned

[2020-04-21 00:00] #254 closed

[2020-04-21 02:03] ocehugo commented on #457
I completely agree! However, I'm wondering how many other things related to "historical" reprocessing (from our part) were also put on the same bucket (e.g. other attributes updates, auxiliary variables missing, etc). My point is: maybe it's time to make an effort to take the "effort" out of updating/reprocessing historical files.

[2020-04-21 07:23] mhidas commented on #209
This was fixed, just forgot to close it.

[2020-04-21 07:23] #209 closed

[2020-04-22 01:17] ggalibert commented on #457
I think Natalia is right, in regards to datasets our usual approach is not to go back and reprocess in order to update acknowledgements, but ensuring all new files reflect the most recent one.

This would be relevant to consider in a new implementation plan for example! This reprocessing historical files issue is big and is touching a lot of components in our infrastructure, it would be good to se

[2020-04-22 01:17] #457 closed

[2020-04-22 06:52] ggalibert commented on #300
I'm renaming this issue, looks like it has been fixed for Marvl3.
![Screenshot from 2020-04-22 16-51-15](https://user-images.githubusercontent.com/3498686/79949847-872e5c00-84b9-11ea-9a9f-220f3ba5a7b9.png)

[2020-04-22 06:56] ggalibert commented on #300
Currently we have the following for Satellite Relay Tagging Program - Delayed mode data
![Screenshot from 2020-04-22 16-50-08](https://user-images.githubusercontent.com/3498686/79950094-e12f2180-84b9-11ea-85c5-fd9f16ec5459.png)
I have looked at the content of the Python file and it looks all good to me. Maybe thanks to some recent work from @evacougnon, @bpasquer  and @lbesnard . I believe we can

[2020-04-22 06:56] #300 closed

[2020-04-23 01:32] lbesnard opened #458 "argo - aggregated dataset"
in 2012 we created some argo aggregated datasets. see http://thredds.aodn.org.au/thredds/catalog/IMOS/Argo/aggregated_datasets/catalog.html

They are quite redundant with what can be done with WFS and the portal, and haven't been updated in over 8 years. It would be very easy and better for users to remove them.

@smancini do you have any opinion on the matter?

[2020-04-23 01:49] lbesnard commented on #244
still not fixed

[2020-04-23 02:26] atkinsn commented on #458
@lbesnard could be an issue if people used them back then and have published referring to them

[2020-04-23 02:51] lbesnard commented on #458
they don't have any doi attached to them so we can do anything we want mouhahaha

[2020-04-23 02:57] atkinsn commented on #458
Doesn't matter, if we are being good data repository people

[2020-04-24 02:53] atkinsn commented on #443
Update April 2020
* Database of Marine Larval Fish Assemblages in Australian temperate and subtropical waters 1983 - 2016 - is being worked on for addition to Portal

[2020-05-05 00:06] mhidas commented on #454
Looks like they have finally fixed this at CSIRO. Both harvesters have been running successfully for the past week.

[2020-05-05 00:06] #454 closed

[2020-05-27 01:20] ggalibert commented on #456
The layers are supported by two views `srs_surface_waves_sar_fv00_trajectory_map` and `srs_surface_waves_sar_fv01_trajectory_map` which are showing a different subset of the table `srs_surface_waves_sar_trajectory_map`. That table includes both fv00 and fv01 files and the views are generated by filtering on the `url` field looking at whether `url` includes a substring `FV00` or `FV01`. As highligh

[2020-05-27 02:08] lbesnard commented on #456
doing the following changes on the harvester

1) update the srs_surface_waves_sar_trajectory_map MAIN table to add a```is_relatime``` boolean based on the filename + update the existing data
[code]

2) update the view to match tthe point above
[code]

3) update the table defintion in the harvester subjob
[code]

[2020-05-27 02:15] lbesnard commented on #456
and

[code]

[2020-05-27 02:25] lbesnard commented on #456
However we may have a stack issue with postsgreql missing some functions (maybe ??)

[code]

[2020-05-27 02:38] lbesnard commented on #456
blocked by https://github.com/aodn/issues/issues/760

[2020-05-29 03:30] ggalibert commented on #456
PR above has been merged.

@leighwgordon is there anything else that could be done to improve these layers?

[2020-06-01 07:44] ocehugo commented on #409
@scosoli,
FYI: I'm trying to cleanup the backlog of errored files on the ACORN stream.

We still got the files mentioned above in the error directory. All of them are empty or invalid netcdf files.

The CWI files below are already published (from 2018) and failed because of the files being empty (0-bytes) /invalid netcdf files.

date|time|File name
---|---|---
2020-01-29|11:51:39.351823494|IMOS_AC

[2020-06-01 08:17] ocehugo opened #459 "Problematic ACORN DM files"
The following ACORN DM files are errors and we don't have them yet:

date|time|filename
---|---|---
2020-03-28|09:14:06.024959630|IMOS_ACORN_RV_20180105T144000Z_CWI_FV01_radial.nc
2020-03-27|19:38:31.132059356|IMOS_ACORN_RV_20180914T154500Z_CSP_FV01_radial.nc
2020-04-15|18:10:10.747370215|IMOS_ACORN_RV_20190111T095500Z_FRE_FV01_radial.nc
2019-12-11|22:00:08.720899711|IMOS_ACORN_RV_20191014T020000Z

[2020-06-03 02:33] lwgordonimos commented on #456
Unfortunately I think they are always going to provide a poor user experience unless the data are stored differently in the database.

I don't have the GIS expertise to suggest the solution, but clearly trying to draw maps "on demand" from this is not feasible.

This is an example of a single geometry from **one** row! I think appropriate indexes are part of the solution (particular as it grows, a

[2020-06-03 02:54] lwgordonimos commented on #456
That said, I wouldn't listen to me too much. because like I said, I don't enough about data. All I know is these run way too slow to be usable, and if the data volume is growing (which I guess is implied by the near real time layer?), it's only going to get worse.

[2020-06-03 07:48] scosoli commented on #459
@yashahoo can you check CWI CSP FRE DONG FV01_radials? I will check TURQ data

[2020-06-03 07:52] yashahoo commented on #459
i will look into it.

[2020-06-04 00:38] jonescc commented on #456
I'm not really a GIS expert either, but adding indexes is not going to help here.  There's only 3719 records in the core table.

We're really packing quite a lot of geometry into those records and that must be the source of the problem.

Some possible things to look at:

- reducing the resolution of the geometries to reduce required bandwidth/drawing time by geoserver
- breaking the contained geom

[2020-06-08 05:20] scosoli commented on #459
@ocehugo, I don't see how IMOS_ACORN_V_20090327T090000Z_TURQ_FV00_1-hour-avg.nc has global attributes different from or missing in comparison to other files. Say, compare for instance with IMOS_ACORN_V_20090327T100000Z_TURQ_FV00_1-hour-avg.nc or IMOS_ACORN_V_20090327T110000Z_TURQ_FV00_1-hour-avg.nc.
can you provide more details?

[2020-06-08 05:34] scosoli commented on #459
if I ncdump -h the suspect and the following file, the only differences I get are the following:
A diff between the two ncdump of the two files reports:
5c5
< title: IMOS ACORN Turqoise Coast (TURQ), one hour averaged current RT-QC data, 2009-03-27T09:00:00Z\
---

15,16c15,16
< date_created: 2019-06-04T09:38:57Z\
< abstract: Sea State data, CODAR Ocean Sensors. SeaSonde sea surface radar located a

[2020-06-08 05:59] yashahoo commented on #459
I don't see a problem with IMOS_ACORN_RV_20180105T144000Z_CWI_FV01_radial.nc and have re-uploaded the file I have locally.

IMOS_ACORN_RV_20180914T154500Z_CSP_FV01_radial.nc
IMOS_ACORN_RV_20190111T095500Z_FRE_FV01_radial.nc

These 2 files (above) did not get uploaded correctly when they were recently reprocessed due to an error on our end and thus were bad file with a much older time stamp compare

[2020-06-09 01:45] ocehugo commented on #459
Thanks guys, the only missing now is the DONG one.

can you provide more details?

sorry, I should have been more specific - this one was just for a double-check since the published file was OK and slightly newer than the errored one.

As above - just a double-check. I think this one was a fail on our side.

[2020-06-15 01:52] ccmoloney commented on #456
@ccmoloney Please put some Sumo stats in here about the health of the layer.

[2020-06-15 02:45] ocehugo commented on #456
2 cents:

1. Polygon reduction is a very common technique. I remember doing this a long time ago in QGIS and it was pretty good. Quickly googling around the qgis functionality, I arrived at the ```ST_SimplifyVW``` PostGIS function that may be worth it in this case. The algorithm used is the same used in QGIS apparently (Visvalingam).

2. We also don't need more than 5 digits in lat/lon, unless we

[2020-06-15 04:49] ocehugo opened #460 "SRS Seawifs TSM empty"
Apparently, all of SeaWiFS TSM data presented here:
```http://thredds.aodn.org.au/thredds/dodsC/IMOS/SRS/OC/gridded/seawifs/P1H/``` are empty.

The affect files are the ```*tsm_clark.nc``` ones, with the main variable filled with zeros (useless files).

It may worth it to check for the same case in other files. I detected this when checking a user request regarding CHLA data.

[2020-06-16 07:20] lbesnard opened #461 "author global attributes in NetCDFs"
Thomas Schroeder, sub-facility leader of the Bio Optical database (**BODBAW**)sub-facility raised some concerns about the various global attributes in the NetCDF files we are creating for him.

Currently, we only have two global attributes referencing persons:
* **author**: the creator of the NetCDF file
* **principal_investigator**: Name of the principal investigator in charge of the platform.

s

[2020-06-17 08:52] mhidas commented on #461
I agree that the two fields defined in our current (IMOS-1.4) conventions are not very clearly defined, and not necessarily sufficient for personally acknowledging everyone who contributed to the content of the file.

By the way, our convention defines **author** as "Name of the person responsible for the _creation of
the dataset_." To me that's not even clear whether that means the person who dep

[2020-06-17 08:59] mhidas commented on #461
By the way, ACDD 1.3 also lists recommended attributes
* **creator_name / creator_email / creator_url** to describe "the person (or other creator type specified by the creator_type attribute) principally responsible for creating this data"; and
* **publisher_name / publisher_email / publisher_name** to describe "the person (or other entity specified by the publisher_type attribute) responsible for

[2020-06-30 05:50] lbesnard commented on #455
@jonescc I believe this is now fixed. Leigh is not seeing those big dump files anymore.
I'm currently deleting a lot of duplicate data (800 files one by one with po_s3_del), a mistake from the facility. so we'll see how this behaves

@lwgordonimos FYI

[2020-06-30 06:50] jonescc commented on #455
Changes look good to me.

[2020-06-30 06:50] #455 closed

[2020-07-03 00:59] ggalibert commented on #461
I agree too that the current global attributes for doing this in the IMOS Conventions are not great and I don't mind adding new ones (ideally it would be easier if we could still keep `author` and `data_centre`). Like Marty I would rather stick to ACDD which has already influenced IMOS Conventions and is used in other marine data centres like NODC (see https://www.nodc.noaa.gov/data/formats/netcdf

[2020-07-14 07:00] lbesnard opened #462 "10-aws ASYNC_UPLOAD - files in ERROR_DIR"
There are 3 files in the ASYNC_UPLOAD $ERROR_DIR ```/mnt/ebs/error/ASYNC_UPLOAD``` folder on 10-aws. I have no idea who is responsible for those datasets and if those files could be deleted safely:

* Marine_larvalfish_database.map_manifest.ff50020a-9dea-466a-acd3-6539900b7dd2
* SAMUSG-1910-NXIC-CTD.map_manifest.39e8765d-c992-4eca-ae03-e4137605748f
* write_check.map_manifest.619ee96d-236c-4de2-8a5

[2020-07-20 06:14] mhidas commented on #462
SAMUSG-1910-NXIC-CTD.map_manifest.39e8765d-c992-4eca-ae03-e4137605748f was me. I have removed it. Dunno about the others.

[2020-07-23 01:40] lbesnard commented on #460
http://thredds.aodn.org.au/thredds/godiva2/godiva2.html?server=http://thredds.aodn.org.au/thredds/wms/IMOS/SRS/OC/gridded/seawifs/P1H/2002/06/S.P1H.20020601T004500Z.overpass.tsm_clark.nc#

First file I'm looking at has data in. Is this the product you are referring to @ocehugo ?

[2020-07-23 04:15] lbesnard commented on #460
All the files I'm trying have data in:
http://thredds.aodn.org.au/thredds/godiva2/godiva2.html?server=http://thredds.aodn.org.au/thredds/wms/IMOS/SRS/OC/gridded/seawifs/P1H/2002/12/S.P1H.20021201T003400Z.overpass.tsm_clark.nc
http://thredds.aodn.org.au/thredds/godiva2/godiva2.html?server=http://thredds.aodn.org.au/thredds/wms/IMOS/SRS/OC/gridded/seawifs/P1H/2002/12/S.P1H.20021202T024900Z.overpass.

[2020-07-24 00:28] ocehugo commented on #460
@lbesnard , you are right, closing this.

The only reason I can think off here is that I selected a region that never got data in the first place. I certainly did a subregion that because accessign this data via thredds is superslow because thredds densify the data when requesting, even if the data is super sparse like those files.

[2020-07-24 00:28] #460 closed

[2020-07-24 05:53] bpasquer commented on #462
none are mine.

[2020-07-24 06:01] atkinsn commented on #462
I don't do data....

[2020-07-24 06:26] ocehugo commented on #462
I don't deal with fish

[2020-07-26 22:59] evacougnon commented on #462
I don't know about these files, none seem to be related with animal tracking

[2020-07-26 23:53] lwgordonimos commented on #462
@mhidas are you *sure* you don't know about the larval fish one? ;)

[code]
[code]

[2020-07-27 01:46] mhidas commented on #462
Oh, who can be sure of anything these days?

Just delete the damn things!

[2020-07-27 05:21] atkinsn commented on #462
My bad, I assumed this was a recent file related to the water sampling database, not from 2018. This is data for a data paper, that was emailed to me (they must of tried to send it this way initially). So agree, can be deleted.

[2020-07-27 05:33] mhidas commented on #462
No, it wasn't "they" ... it would've been me, I just forgot. Getting old...

[2020-07-29 05:09] lbesnard commented on #461
Thanks.
I find the acdd attributes can be hard to read as soon as there is more than 2-3 names to add with various roles.
I will create the following attributes as requested:

What is then the recommendation on the values to be used within **contributor_role**. If we use them there is a need for a proper definition, otherwise I believe this could upset data providers.
The ACDD convention seems to

[2020-07-31 01:01] atkinsn commented on #426
With the new metadata standard, platform is no longer bundled with parameter.

I have added missing vessel types to the following sub-facilities records

- SOOP SST
- SOOP BA
- SOOP XBT

[2020-07-31 01:01] #426 closed

[2020-08-03 08:29] lbesnard opened #463 "FAIMMS - small data quantity in recent years"
Looking at the FAIMMS collection, https://portal.aodn.org.au/search?uuid=4260aa0a-0d0a-4dd0-9ebc-74d2bf937e21
A great number of channels has not sent any data in a very very long time. Some sites seem to be down, and other active ones barely collect sea surface temperature anymore.

I think it would be interesting to look also at the data reports created by @jachope

To do:
- [ ] look into the FAI

[2020-08-06 04:14] ggalibert commented on #461
In ACDD the `contributor_***` attributes are Suggested while the `creator_***` and `publisher_***` are Recommended. The later are actually the ones used by NODC, see https://www.nodc.noaa.gov/data/formats/netcdf/v2.0/timeSeriesOrthogonal.cdl so I think we should use these ones in priority.

- **creator_name / creator_email** to describe "the person (or other creator type specified by the creator_t

[2020-08-13 04:47] ggalibert commented on #463
Closing since transferred to po-backlog.

[2020-08-13 04:47] #463 closed

[2020-08-13 05:40] mhidas commented on #462
ASYNC_UPLOAD error directory is now empty.

[2020-08-13 05:40] #462 closed

[2020-08-19 00:39] mhidas opened #464 "SOOP_TRV is writing files to /tmp and leaving them there"
See https://github.com/aodn/issues/issues/819#issuecomment-675771273

It looks like SOOP_TRV is writing files to `/tmp` and leaving them there. There are nearly 5000 files at >5MB, so that accounts for the space!

what is writing them and why are these being written to `/tmp` (because this should never happen from a pipeline or anything else)
why is it leaving them behind... any temp file related

[2020-08-19 00:40] lwgordonimos commented on #464
Ok traced it back a little further, since the files are still being created this morning.

This is being run by cron: https://github.com/aodn/data-services/blob/master/SOOP/SOOP_TRV/soop_trv.py

It's called this function to create the temp files: https://github.com/aodn/data-services/blob/master/lib/python/aims_realtime_util.py#L401

The simplest solution is probably to ensure that the code here w

[2020-08-19 00:43] mhidas commented on #464
:+1: Thanks @lwgordonimos

[2020-09-07 06:41] ggalibert opened #465 "SRS OC layer missing file url download"
From issues created by [ocehugo](https://github.com/ocehugo): aodn/issues#860

We are missing a "file url download" option at step 3 for SRS OC netcdf files. See https://portal.aodn.org.au/search?uuid=f73daf07-eb81-4995-a72a-ca903834509f

I think the recent request from a user to bulk download the data is related to this missing option, since the only option available at the moment is the subset d

[2020-09-07 06:41] ggalibert commented on #465
@atkinsn may you check if this is a metadata problem!?

[2020-09-07 06:41] ggalibert commented on #465
adding the bodaac link would be great. However I suggest we wait until next iteration as we will modify those records anyway soon to point to the generic schema.

[2020-09-07 06:41] ggalibert commented on #465
We don't have this option configured on any of the Ocean colour collections on the Portal.
@lbesnard would be best placed to comment on whether this download option is applicable/possible for these collections.

[2020-09-07 06:41] ggalibert commented on #465
To be converted to a content issue.

[2020-09-07 06:43] ggalibert commented on #465
Will be fixed as part of https://github.com/aodn/PO-Backlog/issues/1240

[2020-09-21 05:36] atkinsn commented on #449
@jonescc this has been removed in the most recent published version of this vocabulary. According to the new query that Richard has instigated in the ARDC Editor admin tool - there aren't any others.
Do you want to check our side if the issue still exists?

[2020-09-22 04:34] jonescc commented on #449
There are still some issues in content.aodn.org.au  -  does the vocab need to be updated?

              xml:lang="en">RBR TGR-2050 submersible tide gauge </rdfs:label>   - trailing space
              xml:lang="en">	A collection of conductivity, temperature and depth (CTD) sensors which are generally linked to a common data logger that samples at up to 15Hz. The CTD sensors utilise the patented N

[2020-09-22 05:05] atkinsn commented on #449
Ahh - I thought the first reference was to the current concept, but its referring to a deprecated concept with the same name (as the generated vocab URL is wrong). I would have to get Richard to edit that in the backend?

Richard's query is for trailing spaces, I will get him to amend it to include "leading"
Show triples in which the object is a literal that has trailing whitespace

So I am unlike

[2020-09-23 03:58] #419 closed

[2020-09-23 06:09] #464 closed

[2020-10-08 04:23] lbesnard commented on #465
@atkinsn can we close this?

[2020-10-08 04:30] lbesnard opened #466 "new SOOP XBT files - compliance checker CF exception"
New XBT files don't pass the IOOS CC checker installed on RC/prod

[code]

However this was fixed by IOOS in https://github.com/ioos/compliance-checker/commit/308bc2017b2faee12aefdcbd6523aa8006e3236e#diff-39a699a3319b28c340cda1b09157d21e

We're just running a too old version of CC. Keeping this issue open for the record until we update CC on our infrastructure.

In the meantime, CF and IMOS checks

[2020-10-08 04:40] mhidas commented on #466
This might be easier/quicker to fix than the CF issue, because it's under our own control. Please lodge an issue in the [cc-plugin-imos](https://github.com/aodn/cc-plugin-imos/issues) repo so we don't forget about it.

[2020-10-08 05:07] atkinsn commented on #465
Work done as part of https://github.com/aodn/PO-Backlog/issues/1265

[2020-10-08 05:07] #465 closed

[2020-10-30 03:03] ocehugo opened #467 "Four CHLA Southern Ocean layers do not provide file list url download option"
I found this issue when looking into a recent CHLA Helpdesk inquiry.

At the moment, these CHLA Southern Ocean products do not provide a file url download option. I think they should.  For instance, daily IMOS SRS CHLA OC3 layers contains this option.

Blamed layers:
https://portal.aodn.org.au/search?uuid=bd2a812b-d76d-42eb-9654-9f2e13d305ff
https://portal.aodn.org.au/search?uuid=10fcb776-d331-4a0

[2020-11-10 05:22] atkinsn commented on #467
@lbesnard am I ok to go ahead and add (like we have just done with the other Ocean Colour collections) to these metadata records?

[2020-11-12 01:29] atkinsn commented on #467
Content added

[2020-11-12 01:29] #467 closed

[2020-11-12 01:34] ocehugo commented on #467
Don't want to step up, but shouldn't we only close when the released portal got the featureworking?

[2020-11-12 01:38] atkinsn commented on #467
The feature will be there tomorrow when the records get harvested. This isn't related to Portal releases.

[2020-11-26 02:32] lbesnard opened #468 "AATAMS SATTAG - schemas - to keep or to delete ?"
The following legacy schemas
* aatams_sattag_dm
* aatams_sattag_nrt

have new respective schemas:
* aatams_sattag_qc_dm
* aatams_sattag_qc_nrt

1) Should both legacy ones be kept? If yes why?
2) Should the SQL reporting queries (https://github.com/aodn/reporting/blob/master/report/SQL_reporting_queries/aatams_sattag.sql) be modified accordingly?

[2020-11-26 04:16] evacougnon commented on #468
Unfortunately, the 2 new schemas do not replace each of the old schemas.

At this stage we have to keep `aatams_sattag_dm` as we still have a dataset collection available on the Portal. This collection is different from `aatams_sattag_qc_dm` as it includes historical data.

`aatams_sattag_nrt` can probably be decommissioned, to be discussed with @ggalibert and @atkinsn . Earlier this year we decom

[2020-11-30 06:02] ggalibert opened #469 "IMOS data reports - out of date"
From issues created by [lbesnard](https://github.com/lbesnard): aodn/issues#917

The SQL scripts generating the IMOS data reports (see https://github.com/aodn/reporting/tree/8c0270ac40286b8001a483055ab280cb406d3248/report/SQL_reporting_queries)
 are out of date. They don't represent the various schema changes which have occurred over the last few years, as it happened with the AATAMS SATTAG datase

[2020-11-30 06:02] ggalibert commented on #469
Good pick-up @lbesnard - but I'd say this is more of a content issue

[2020-11-30 06:02] ggalibert commented on #469
sounds like a backlog item then, not an issue. Issues are for fixing something that is broken.

I suggest we convert this into a content issue first.

[2020-11-30 06:02] ggalibert commented on #469
I put it in issues because I think this could be overall greatly improved as a whole and redesigned rather than simply change a few queries

[2020-11-30 06:02] ggalibert commented on #469
In addition you could include:

-The embargo plot in R is pointing to `dw_aatams_acoustic` instead of `aatams_acoustic_reporting` as detailed in https://github.com/aodn/PO-Backlog/issues/1389. `dw_aatams_acoustic` hasn't been updated since 2017.

[2020-11-30 23:57] mhidas commented on #469
The old ABOS reporting views have now been updated to DWM (https://github.com/aodn/reporting/pull/16)

[2020-12-01 23:15] mhidas opened #470 "IMOS NetCDF File Naming Convention needs updating"
Various things need updating in the IMOS NetCDF File Naming Conventions document, including
* Text about our naming conventions being based on the OceanSITES User's Manual v 1.1 - I don't think this is very relevant anymore, as the two conventions have diverged significantly since then.
* Allow date-only timestamps in file names (YYYYMMDD) - some facilities are already doing that, including our ow

[2020-12-06 23:17] mhidas opened #471 "Moorings gridded temperature products are missing"
The temperature gridded products for all the ANMN sites are missing from S3 and the database, and therefore unavailable via the Portal. They need to be re-processed.

[2020-12-08 00:47] mhidas commented on #471
All ANMN non-velocity products have been reprocessed and are now available.

[2020-12-08 00:47] #471 closed

[2020-12-23 02:32] atkinsn commented on #449
@jonescc I have got Richard to run an update in the backend. So this issue has been resolved. However, I am unlikely to publish another version of this vocabulary for awhile - so can we discuss if this is an issue when you are back.

[2021-01-29 03:00] ggalibert opened #472 "AAD Portal collection is "missing" 10 years of data"
From issues created by [atkinsn](https://github.com/atkinsn): aodn/issues#961

A helpdesk enquiry has revealed that the Southern Ocean Continuous Plankton Recorder Zooplankton Records collection on the Portal (https://portal.aodn.org.au/search?uuid=AADC-00099-iso-mcp2), only has data up until 2010, despite the metadata record stating there is data up until 2019. Possibly we were supposed to add th

[2021-02-01 01:14] lbesnard commented on #428
1. list all files on S3 and push them back to the pipeline (product by product)
-> All Robert Johnson products are being re-ingested into generic schema/harvester

[2021-02-01 05:07] mhidas opened #473 "ANMN_METADATA harvester not updating spatial extent"
It seems the update spatial extent component has been disabled in this harvester (or is failing to run without any error messages).

It should be re-enabled.

[2021-02-01 05:10] ocehugo opened #474 "Missing ACORN files"
Hi @scosoli & @yashahoo,

I was just doing a check on ACORN and detected some further missing ACORN files missing here:

1. IMOS_ACORN_V_20091116T060000Z_TURQ_FV01_1-hour-avg.nc
2. IMOS_ACORN_RV_20191014T020000Z_DONG_FV01_radial.nc
3. IMOS_ACORN_RV_20181031T043000Z_RRK_FV00_radial.nc
4. IMOS_ACORN_RV_20190903T061000Z_GUI_FV00_radial.nc
5. IMOS_ACORN_RV_20191019T220000Z_CWI_FV00_radial.nc
6. IMOS_A

[2021-02-01 05:11] ocehugo commented on #459
Update the list in here: https://github.com/aodn/content/issues/474

[2021-02-01 05:11] #459 closed

[2021-02-09 05:53] lbesnard opened #475 "AusCPR: Phytoplankton Abundance - data on step appears at the same longidute of 110E (vertical line)"
see collection: https://portal.aodn.org.au/search?uuid=c1344979-f701-0916-e044-00144f7bc0f4

There is a suspicious vertical line of data in the year 2019 at 110E for IMOS - AusCPR: Phytoplankton Abundance collection. Is the data correct?

@bpasquer @mhidas

[2021-02-09 22:58] mhidas commented on #475
There's nothing wrong with that - research ships often do transects along a meridian. In fact, if you add e.g. the [SOOP Underway CO2 delayed mode](https://portal.aodn.org.au/search?uuid=63db5801-cc19-40ef-83b3-85ccba884cf7) collection, you'll see there is indeed a line going straight through those plankton samples:

![image](https://user-images.githubusercontent.com/3579859/107439582-66d5a800-6b8

[2021-02-09 22:58] #475 closed

[2021-02-11 05:54] lbesnard opened #476 "GHRRST - old layers of L3S 1M products still used"
from @ocehugo 's email:

## The issue:
-----------

For the record:
SRS GHRSST data went through a major reprocess 2+ years ago. All products were pushed back to the generic timestep harvester using a new schema and with new geoserver layers.

However four layers didn't follow the same path; @ocehugo found an issue with one of them. These four layers, used in production are created by the non gene

[2021-02-16 04:49] #473 closed

[2021-03-04 00:30] ana-berger commented on #470
A new version of this file with the suggested modifications addressed was recently uploaded in S3. Can we close this issue?

[2021-03-04 00:39] ana-berger opened #477 "The IOOS compliance checker version 2.3.1 is outdated and missing standard_names"
The compliance checker needs to be updated for a more recent version as we need some wave parameters to be included in the checker, like 'sea_surface_wave_directional_spread_at_variance_spectral_density_maximum' and 'sea_surface_wave_directional_spread'. @mhidas can we have a look at this please?

[2021-03-04 04:46] mhidas commented on #470
:+1:

[2021-03-04 04:46] #470 closed

[2021-03-04 04:58] mhidas commented on #477
2.3.1 is an ancient version of the compliance-checker which was used by the old pipeline v1. As far as I know it is no longer needed - so it could be uninstalled from the system python environment on 10-aws-syd, along with the "netcdf-checker" alias (@aodn/devops ).

To run the checker manually on 10-aws-syd, please use the pipeline's virtualenv:
[code]

The version of the standard name table is i

[2021-03-04 04:59] mhidas commented on #477
@ana-berger Please close this when you've confirmed that this works.

[2021-03-05 02:28] ana-berger commented on #477
@mhidas thank you for your comment and for showing the code. I edited the `standard_name_vocabulary` attribute and it works as expected now, checking the CF table version that is contained in the attribute.

[2021-03-05 02:28] #477 closed

[2021-03-23 02:19] lbesnard opened #478 "corrupted L3SM-6d file - contact Edward King when back from leave"
The following file was removed
IMOS/SRS/SST/ghrsst/L3SM-6d/dn/2014/20140301212000-ABOM-L3S_GHRSST-SSTfnd-MultiSensor-6d_dn.nc

[code]

contact Ed when he's back

[2021-03-23 06:12] ana-berger opened #479 "Inconsistency between CF and IMOS compliance-checkers for global attribute "standard_name_vocabulary""
There is an issue with the `imos compliance-checker` that it does not accept the expression "..Metadata Convention **CF** Standard Name Table v76" in the global attribute `standard_name_vocabulary`.

However, for the `cf compliance-checker` to use the correct version of the CF table, the global attribute `standard_name_vocabulary` needs to have that exact expression (including the **CF**).

Here i

[2021-03-25 00:48] ana-berger commented on #479
Issue fixed in [PR#52](https://github.com/aodn/cc-plugin-imos/pull/52), where the `imos compliance-checker` was updated to accept a broader regexp for the attribute `standard_name_vocabulary`

[2021-03-25 00:48] #479 closed

[2021-03-25 02:49] ggalibert commented on #476
@lbesnard why are the old files failing the CF/GHRSST checks? Can we fix the files ourselves?

[2021-03-25 02:52] lbesnard commented on #476
It's better to let Edward do it since:
* he already has the scripts to modify the files
* sometimes he re-pushes some files to the pipeline. This would lead to our modifications being overwritten.

He is the source of the data, so when he's back from leave I'll get him to tackle this task

[2021-04-12 06:25] ggalibert commented on #461
@lbesnard please summarise what has been agreed with Thomas and close this since I think it's been resolved.

[2021-04-12 06:32] #430 closed

[2021-04-14 04:22] ocehugo commented on #474
Dear @scosoli & @yashahoo,

over Easter, we got a plethora of RT files that failed to be ingested and are missing in our database. See [here](https://github.com/aodn/content/files/6308142/hfradar.log) for blamed/missing files.

[2021-04-14 04:26] scosoli commented on #474
Yes I am aware of this issue as the mail was flooded with error messages.
two things happened:
1, the RT stream was not updated to process radials from GUI in the new file format
2, the main system drive was full and this prevented files to be handled properly.

Will take care of that in the next few days

[2021-04-15 04:00] kereid opened #480 "SOOP Air Sea Flux voyage numbers have not changed for 8 years"
Had a "helpdesk" enquiry (IMOS Jake) who came to ask me about the SOOP ASF sub-facility reports and why up to 2013 every voyage was separate but from 2013 until now the rest were jusxt lumped together.

After discussing with @lbesnard seems the facility have failed to change the voyage numbers on the data delivered to AODN.

https://portal.aodn.org.au/search?uuid=9436802f-ed93-4660-be50-e77c3c07bd

[2021-04-15 04:17] kereid commented on #480
I have also noted for All ASF collections in thredds for the "Global attributes" the data centre still lists eMarine Information Infrastructure (eMII) and the contact email as info@emii.org.au

These should be Australian Ocean Data Network and info@aodn.org.au

[2021-04-20 03:48] lbesnard commented on #480
facility contacted. waiting for answer

[2021-04-29 03:47] scosoli opened #481 "ACORN reprocessed FV00 files"
FYI: We had to reprocess in DM some of the RT files fro GHED station for the time period 20210226 - 20210316 when data were collected with crossed RX wiring in the internal receiver module.
this has affected collection of radials and creation of vectors for CORL for the same time frame.
Both radials and vectors (FV00) have been - are being updated accordingly

[2021-05-07 02:44] atkinsn opened #482 "An IMOS low cost wave buoy has wandered onto the land - National Wave Archive"
Just looking at the National Wave Archive for a related purpose, noticed 2 things.

1. There shouldn't be any IMOS buoys yet accessible
2. The IMOS buoy that is visible is currently lost on land

[2021-05-07 02:57] kereid commented on #482
perhaps it's attached to this shark? https://www.news.com.au/technology/science/animals/shark-tag-running-around-uni-of-wollongong-campus-researchers-want-it-back/news-story/79e74f6d314286201dbc59d5caf3fa70

[2021-05-10 01:06] ana-berger commented on #482
That was me. I tried to publish the file in prod and forgot to delete :facepalm: I did other times before for other files too and deleted them, but forgot this one. Sorry! Should be gone from the portal after 5pm today, if the tile caching is working fine. It is already removed from S3.
Also, about the land position of the buoy, that was a test file that probably had wrong coordinates, so no need

[2021-05-10 05:26] ana-berger commented on #482
Fixed!

[2021-05-10 05:26] #482 closed

[2021-05-17 07:23] ocehugo opened #483 "ACORN NRT problems - Jan-May 2021"
@scosoli - We got plenty of files not ingested over the last 2mo in the NRT stream.  It seems that some logic is needed to avoid sending corrupted NetCDF,s invalid netcfs, NetCDF without TIME records, and empty netcdfs.

The najority of files is from PTB and GUI, with the bulk from March/April.

Files with invalid content:

[code]

Invalid netcdfs:
[code]

files with zero records:
[code]

empty ne

[2021-05-28 02:17] ocehugo opened #484 "ACORN NRT problems - 25-26 of May 2021"
@scosoli, this is to tracking down more errored files not resubmitted(missing from the database) after errors from the last 2 days.

Empty records:

[code]

Invalid netcdfs:
[code]

[2021-05-28 02:25] ocehugo opened #485 "Inconsistent site_code in ACORN radial tables"
[code]

Results in:
[code]

Note the double-quoted "NWS".

[2021-05-31 01:28] scosoli commented on #483
@ocehugo @ggalibert @yashahoo I need a few more details on what is going on with these files. I run a fairly extensive sanity check on the files before calling the upload procedure that checks for
1, read/write errors;
2, variable dimensions;
3, variable content, sanity of the content, and write/read errors;
4, global attributes.
it would definitely help me troubleshooting the issues if I have a f

[2021-05-31 01:28] scosoli commented on #483
@lbesnard  I need a few more details on what is going on with these files. I run a fairly extensive sanity check on the files before calling the upload procedure that checks for
1, read/write errors;
2, variable dimensions;
3, variable content, sanity of the content, and write/read errors;
4, global attributes.
it would definitely help me troubleshooting the issues if I have a full picture of the

[2021-05-31 01:45] ocehugo commented on #483
I'm not sure of what you are receiving in the emails, but I assume it is something like the below.

I can surely attach all the logs, of all the individual files, so you could debug yourself. However, I did that for you already in the above post (and others). For example, below is an invalid netcdf file.

Are you sure you wanna it all?

[code]

[2021-05-31 02:35] lbesnard commented on #483
@ocehugo , these logs outputs aren't really helpful for @scosoli

[2021-05-31 03:02] scosoli commented on #483
I just need one as example of what may e wrong there.

in comparison to what you just share, the log I receive is something like (re.IMOS_ACORN_RV_20210225T020000Z_GUI_FV00_radial.nc)

"invalid format: did not validate as type: NETCDF"

so it is not giving me any details on where the failure occurs.

[2021-05-31 03:06] scosoli commented on #483
btw I think I found one small error in the code I am using for the error checks - an 'exit' instead of a 'return' in a try/catch loop that was breaking the check for the entire list of files if one of the inputs was corrupt; which resulted in following files potentially skipping the check and being uploaded. Please bear with me while I confirm this is what happened, and likely expect a few more co

[2021-05-31 03:17] ocehugo commented on #483
@scosoli:

[code]
This means the file is an invalid netcdf or corrupted. Maybe the process you are running started creating the file but something happened at the write/commit to disk time.

This kind of  "interpretation" is exactly what I did above. For example, if you try to inspect an "invalid netcdf" you will get:

[code]

What I can provide is the full log OR an interpretation of the log mess

[2021-05-31 03:23] scosoli commented on #483
"interpretation" definitely helps, and is what I need, thanks. I have modified the script after the errors I found, added some verbosity and added a timing offset between the checks and the upload to possibly prevent issues. please keep an eye and let me know

[2021-05-31 03:31] ocehugo commented on #483
@scosoli , I'' be watching the error folders over the coming days, so we can follow up on any left-over errors. I'll also create an issue so we follow up on improving the email error msgs.

[2021-06-25 06:14] lbesnard commented on #466
I completely forgot about this issue, and re-added by mistake the cf checks in the imos po watch config.
I lodge an unnecessary issue at IOOS: https://github.com/ioos/compliance-checker/issues/865

[2021-06-28 04:58] ggalibert commented on #478
New file uploaded 25/06 fixes this issue.

[2021-06-28 04:58] #478 closed

[2021-06-30 07:30] lbesnard commented on #484
@scosoli, I'm taking over from @ocehugo . Is this issue fixed?

[2021-06-30 07:31] lbesnard commented on #483
@scosoli, I'm taking over from @ocehugo . Is this issue fixed?

[2021-06-30 07:36] lbesnard commented on #481
@scosoli , I'm not very knowledgeable with the ACORN data. I looked at the radial GHED data
http://thredds.aodn.org.au/thredds/catalog/IMOS/ACORN/radial/GHED/2021/02/catalog.html

but can't seem to see new data uploaded there for the time period you're mentionning. Am I looking at the wrong place?

[2021-07-01 10:58] scosoli commented on #481
There is a time gap between 20210226T030000Z and 20210305T040000Z due to failures in the power supply, hence there is ono data in this time frame for the GHED station. if you notice 20210226T020000Z was modified last on 2021-03-05T050000Z and all remaining data for 202103 mentioned above were last modified around 2021-04-28.

what happened here is the following: I disabled RT processing from the s

[2021-07-01 11:00] scosoli commented on #481
hope this is clear now

[2021-07-06 04:18] lbesnard commented on #481
thanks a lot

[2021-07-06 04:37] lbesnard commented on #279
srs_ghrsst_l3s_1m_dn_url
srs_ghrsst_l3s_1m_day_url
srs_ghrsst_l3s_1m_ngt_url

where updated to contain all data

[2021-07-06 06:14] atkinsn commented on #279
All metadata updated

[2021-07-06 06:14] lbesnard commented on #279
:)

[2021-07-07 04:15] lbesnard commented on #476
all NetCDF files were pushed back to the incoming folder fixing this issue

[2021-07-07 04:15] #476 closed

[2021-07-07 04:36] lbesnard commented on #480
This is now fixed for new files. The facility was asked to do the same on the historical dataset if possilbe

[2021-07-07 06:03] #279 closed

[2021-07-20 01:55] lbesnard opened #486 "ANMN NRS CTD - SCHEMA anmn_nrs_ctd_profiles missing INDEX on "TIME""
Running queries on the ```anmn_nrs_ctd_profiles``` using the "TIME" column is really time consuming. This would create some issues for users on the portal. I ran a query which took 12 hours.

This shows the definition of the WFS view  **anmn_nrs_ctd_profiles_data**. We can see that this depends on the **measurements** table:
[code]

However, doing a listing of indexes on this table shows that ther

[2021-07-20 02:33] lbesnard commented on #486
There probably should be an index for portal users such as
[code]
however, the queries I'm running have to be done on "TIME" and not timezone(**) so the creation of the above index  probably wouldn't affect me.

I ran in a similar issue with the **anmn_ts** schema and the measurement table which has the following indexes:
[code]

The query I'm currently running has been going on for 20 hours

[2021-07-20 02:55] lbesnard opened #487 "ANMN WAVE - schema has reference to non existing files"
By the look of it, the **ANMN_WAVE** harvester which writes in the **anmn_wave** schema has references to the ANMN NRS wave data files available in http://imos-data.s3-website-ap-southeast-2.amazonaws.com/?prefix=IMOS/ANMN/NRS/REAL_TIME/NRSDAR.

These files are part of the **anmn_nrs_dar_yon** schema and harvester to the similar name. So I don't understand why there are part of the **anmn_wave** s

[2021-07-20 03:11] lbesnard commented on #416
## ANMN schemas

@mhidas could you please review the following.

### bash function to facilitate download of IMOS data from S3

[code]

### ANMN_ACIDIFICATION_NRT

* [ ] ANMN_ACIDIFICATION_NRT

<details close>
  <summary>SQL query</summary>

SQL commands to run in this order

[code]

[code]
</details>

FYI @mhidas
**!!!! what is the incoming folder?**
[code]

***

### ANMN_BURST_AVG_TIMESERIES

*

[2021-07-20 03:34] lbesnard commented on #416
## ANFOG

@bpasquer could you please review the following

### ANFOG_DM

* [ ] ANFOG_DM

<details close>
  <summary>SQL query</summary>

SQL commands to run in this order

[code]

[code]
</details>

FYI @bpasquer
**!!!! what is the incoming folder?**
[code]

***

### ANFOG_RT

* [ ] ANFOG_RT

<details close>
  <summary>SQL query</summary>

SQL commands to run in this order

[code]

[code]
</detail

[2021-07-20 04:43] mhidas commented on #416
Thanks @lbesnard

Firstly, I would suggest you don't download files from S3 and re-push them through the whole pipeline. This won't work for some of the older files as they will fail the compliance checks.

You can simply re-index them in place from the fuse mount. E.g. for your target list in `/tmp/time_issue_x.txt`:

[code]

Please ignore this schema as it's obsolete (see https://github.com/aodn

[2021-07-21 04:29] lbesnard commented on #416
thanks @mhidas  for your feedback, just waiting for a query to run on the anmn_ts schema. Everything else is done.

[2021-07-21 07:00] lbesnard commented on #416
## AATAMS_SATTAG_QC_CTD
* [  ] AATAMS_SATTAG_QC_CTD

<details close>
  <summary>SQL query</summary>

SQL commands to run in this order

[code]
[code]
</details>

[code]

**ISSUE**
[code]

I'm not sure about this harvester/schema. @ggalibert do you know if the aatams_sattag_qc_ctd schema/harvester should be revoked?

[2021-07-23 02:03] DelphiWard opened #488 "Automatic upload of data from matlab affected by change to FTP with TLS"
@bpasquer @lbesnard @leonardolaiolo @ggalibert @ana-berger @mhidas

Any data that is being automatically transferred from the facilities from matlab script are likely to have been blocked by the recent switch to FTP TLS.

Matlab doesn't support ftp tls, so facilities that use that workflow will need to change the way they provide data. Options could be to write a shell script to it, or switch to p

[2021-07-23 02:42] lbesnard commented on #488
I don't think this is our issue. FTP/RSYNC are quite basic tools data providers have to work with.

[2021-07-23 03:00] bpasquer commented on #488
I agree, but their process might be silently failing.
I realized today that the ANFOG realtime data workflow stopped when switched to FTP over TLS.
@DelphiWard  message is about making us aware that data flow from facilities that use automated Matlab script to transfer data via FTP may have got interrupted since the change.

[2021-07-23 03:09] lbesnard commented on #488
letting them know is fine of course, but what I meant is that i don't think we should have to write them custom bash scripts

[2021-07-23 03:30] bpasquer commented on #488
Of course not,  but we can provide guidance which is what  @DelphiWard is saying.

[2021-07-26 01:27] bpasquer opened #489 "University of Newcastle sea level data"
Noticed 2 separate issues with this dataset (sea level data stored in NetCDF format)
- the .map_manifest file is published on S3
- the folder UON/NSW is not available on  the THREDDS server

[2021-07-28 07:39] lbesnard commented on #416
@ggalibert @DelphiWard

The only issue I have is with the AATAMS_SATTAG_QC_CTD harvester, see comments above.

The associated data is on S3
http://imos-data.s3-website-ap-southeast-2.amazonaws.com/?prefix=IMOS/AATAMS/satellite_tagging/MEOP_QC_CTD/

and on the portal : **Satellite Relay Tagging Program - Southern Ocean - MEOP Quality Controlled CTD Profiles**
https://portal.aodn.org.au/search?uuid=

[2021-07-28 23:36] bpasquer commented on #416
The collection is valid.
It's a dataset produced sporadically by Fabien Roquet (he's based in Sweden). Last time he generated the files was in 2017. He hasn't been allocated funds to process the dataset since then.

[2021-07-29 04:28] lbesnard commented on #416
see PR fixing the harvester in order to re-process the data

[2021-07-29 07:37] lbesnard commented on #416
modidying the AATAMS SATTAG CTD  harvester made possible to re-harvest files.

All data is now good accross all schemas affected

[2021-07-29 07:37] #416 closed

[2021-08-02 01:26] ggalibert commented on #486
@lbesnard , would be good to look on the portal if this is really worth doing and is relevant with filtering use cases.

[2021-08-02 06:31] lbesnard commented on #486
doesn't seem to affect WFS data download

[2021-08-02 06:31] #486 closed

[2021-08-02 07:19] lbesnard commented on #487
So those files were indexed in the anmn_wave schema. However they're not harvested because there content didn't match what the harvester expected.

Removing the entries from the harvester means that the chef-private databags has to be modified, since currently, these files don't match the regex (which was changed to be more specific). Currently the ```po_s3_del``` command wouldn't work.
Alternativ

[2021-08-03 03:33] #487 closed

[2021-08-04 06:40] lbesnard commented on #428
done

[2021-08-04 06:40] #428 closed

[2021-08-04 06:42] lbesnard commented on #427
@ggalibert shall we close this issue and remove NRT files prior to a certain date to be decided since the data is available is one of the DM collection?

[2021-08-04 06:49] lbesnard commented on #231
fixed by https://github.com/aodn/content/issues/231

[2021-08-04 06:49] #231 closed

[2021-08-04 06:49] #481 closed

[2021-08-04 06:53] lbesnard commented on #458
I stilll think this data is useless now, making the user experience bad.  I actually don't think we should keep all data. The data still exist in the main Argo dataset on our S3 storage. These files are just bad, completely obsolete

[2021-08-04 06:56] lbesnard commented on #343
there is nothing wrong with displaying data in Kelvin. data is correct and so is the unit. I'm closing.

[2021-08-04 06:56] #343 closed

[2021-08-04 06:58] lbesnard commented on #351
@ggalibert can we close. I don't think this is an important task. and as mentioned in the comments given the asynchronous system in place, not easily achievable

[2021-08-04 06:59] #405 closed

[2021-08-04 07:02] lbesnard commented on #444
@leonardolaiolo could you have a look at the SQL queries generating the reports for ACORN and responsible for the null values?

see report
https://imos.org.au/fileadmin/user_upload/shared/IMOS_General/documents/Data_Reports/Jul21_OceanRadar_radials_Summary.pdf

[2021-08-04 07:03] #431 closed

[2021-08-04 07:04] lbesnard commented on #442
@ana-berger @bpasquer do you know what is this about ? Is this part of the code we created a few years ago?

[2021-08-04 07:05] lbesnard commented on #452
@scosoli Do you know if this was fixed?

[2021-08-04 07:05] #461 closed

[2021-08-04 07:11] lbesnard commented on #388
@yashahoo I'm trying to follow up on this. Has any data been reprocessed on your side to fix this issue?

[2021-08-04 07:11] scosoli commented on #452
@lbesnard yes it was fixed back in 2020, I believe we can close this

[2021-08-04 07:15] lbesnard commented on #468
happy to investigate if this ```aatams_sattag_nrt``` can be decomissioned

[2021-08-04 07:18] lbesnard commented on #449
@atkinsn can this be closed ?

[2021-08-04 07:22] lbesnard commented on #398
@ggalibert is this still current?

[2021-08-04 07:24] lbesnard commented on #273
@ggalibert @smancini what is the reference to this? to be closed?

[2021-08-04 07:27] lbesnard commented on #420
still the case. what is this harvester about?

[2021-08-04 07:31] lbesnard commented on #360
@ggalibert the last version of the doc doesn't include this changes. who can do this?

[2021-08-04 07:32] lbesnard commented on #360
is this something @ana-berger  could do?

[2021-08-04 07:34] #284 closed

[2021-08-04 07:38] lbesnard commented on #262
values are now matching

[2021-08-04 07:38] #262 closed

[2021-08-04 07:39] lbesnard commented on #173
@atkinsn can this be closed?

[2021-08-04 07:39] #181 closed

[2021-08-04 07:42] yashahoo commented on #388
Yes, this remains on the low priority to do list as it is a substantial task and the underlying data are still good (ie there is nothing wrong with the individual files). Myself or @scosoli will complete this as soon as possible.

[2021-08-04 07:42] #253 closed

[2021-08-04 07:49] lbesnard commented on #399
@atkinsn is this done? can be closed?

[2021-08-04 07:51] #349 closed

[2021-08-04 07:53] #237 closed

[2021-08-04 08:01] lbesnard commented on #388
thanks a lot! FYI, I created an "acorn" label to make it easier to find issues related to your facility.
Feel free to close the ones which can be:
https://github.com/aodn/content/labels/acorn

[2021-08-04 08:11] #452 closed

[2021-08-04 23:28] mhidas commented on #399
For this to be closed, the following need to happen:
- [ ] Remove WMS & WFS links from metadata record
- [ ] Remove `noaa_drifters_` layers from geoserver-config
- [ ] Remove the db schema and role
- [ ] Remove any associated files (I don't actually see any on S3 or even in archive)

[2021-08-05 02:17] atkinsn commented on #449
Maybe @lbesnard ?

@craigrose I need to check if there is still an issue our end (I have published a new version of the offending vocabulary, so should be ok now)

[2021-08-05 05:51] lbesnard commented on #379
@atkinsn how can we progress forward with this?

[2021-08-06 01:53] lbesnard commented on #414
# Current status of the data
## list of unique platform codes and vessel names
[code]

## WMS view def
[code]

## WFS view def
[code]

# proposed _map and _data view def

**WMS**
[code]

**WFS**

[code]

I'll put a PR with these changes on the harvester. Can you confirm you're happy with this @bpasquer ?

[2021-08-06 07:50] lbesnard commented on #414
A simple task like editing a liquibase text file ends up dragging on. Suspect an SLL issue:
https://github.com/aodn/issues/issues/1057

[2021-08-09 01:46] bpasquer commented on #414
Happy with the change @lbesnard

[2021-08-09 02:46] lbesnard commented on #414
https://github.com/aodn/harvesters/pull/936

[2021-08-09 03:08] atkinsn commented on #420
We set this data up initially, and then handed the metadata to IMAS, but we still needed to manage the data in our Geoserver.
https://metadata.imas.utas.edu.au/geonetwork/srv/eng/catalog.search#/metadata/fc64fc7b-29b0-4607-9527-899dfa991d68

[2021-08-09 03:13] atkinsn commented on #173
Sure, problem is mute now

[2021-08-09 03:13] #173 closed

[2021-08-09 03:15] bpasquer commented on #442
@lbesnard  When we developed the harvester for the AODN WAVE DM collection(the wave archive) we decided to leave the temperature data aside as this parameter was not the primary focus of the project.
Nonetheless, the data is stored in the NetCDF( incidentally I've noticed that the name of the files containing Temp data is incorrect, the parameter "T" is missing in the data code).

For the Manly Hy

[2021-08-09 03:41] lbesnard commented on #420
The service seems to be running successfully. See the trend here for the last year

https://nagios.aodn.org.au/cgi-bin/nagios3/trends.cgi?t1=1627874943&t2=1628479743&host=10-aws-syd.emii.org.au&service=talend+aodn_imas_fluorometry&assumeinitialstates=yes&assumestateretention=yes&assumestatesduringnotrunning=yes&includesoftstates=no&initialassumedhoststate=0&initialassumedservicestate=0&backtrack=4

[2021-08-09 03:42] atkinsn commented on #181
Initial reasoning - https://github.com/aodn/internal-discussions/issues/198
Potential alternative solution - https://github.com/aodn/backlog/issues/290

[2021-08-09 03:44] lbesnard commented on #420
FYI @ggalibert

[2021-08-09 04:02] lbesnard commented on #469
@leonardolaiolo FYI, the old schema aatams_sattag_nrt should be decommissioned. See discussion here https://github.com/aodn/content/issues/468
The thing is that this schema is still used by the data reports https://github.com/aodn/reporting/blob/master/report/SQL_reporting_queries/aatams_sattag.sql#L31 which is a bit of a nonsense since the collection was apparently removed from the portal as well

[2021-08-09 04:10] lbesnard commented on #468
So unfortunately, the aatams_sattag_dm schema relies on the aatams_sattag_dm schema. There is an interdependence which would break the the aatams_sattag_dm harvester.
see https://github.com/aodn/chef-private/blob/master/data_bags/talend/aatams_sattag_dm.json#L5

The aatams_sattag_dm schema cannot be removed unless both collections (NRT and DM) can be decommissioned

[2021-08-09 04:53] leonardolaiolo commented on #290
I started investigating this and I can see in DB (```acorn_radial_qc``` shema) that there are 6 new ```site_code``` than the ones reported in the SQL query. I believe 2 of them (```CORL``` and ```NEWC```) are new sites and should be added in the SQL, as they are in DB and in geonetwork consistently registered as sites.
I do no know what to do with the following ```site_code```:
[code]
@ggalibert I

[2021-08-09 05:01] atkinsn commented on #399
WMS and WFS removed, will disappear from Portal from tomorrow.

[2021-08-09 05:31] atkinsn commented on #290
NWS = NWA: Northwest Shelf

[2021-08-09 05:34] leonardolaiolo commented on #444
There are 6 new site_code than the ones reported in the SQL query used for report. I believe 2 of them (CORL and NEWC) are new sites and 4 of them may need correction in DB. Related to [this](https://github.com/aodn/content/issues/290#issuecomment-894949092).

[2021-08-09 05:57] lbesnard commented on #489
@bpasquer how was the data published? I can't find a handler associated to it, async-upload?

[2021-08-09 06:03] lbesnard commented on #489
@bpasquer
1) I removed the manifest file
2) I added the folder to thredds
https://github.com/aodn/chef-private/pull/3905

[2021-08-09 23:02] bpasquer commented on #489
I don't know. @mhidas can you comment?

[2021-08-09 23:34] #399 closed

[2021-08-10 00:35] mhidas commented on #489
I know nothing

[2021-08-10 00:58] bpasquer commented on #489
@atkinsn  any clues what this dataset is?

[2021-08-10 01:01] leonardolaiolo commented on #303
I deleted the 2 filters, here the [PR](https://github.com/aodn/geoserver-config/pull/717).
I understand that to close this issue some modification in the harvester are required, with 2 possible options:
option 1 - stop harvesting "TEMP" variable in files from ADCP instruments
option 2 - relabel "TEMP" variable
@lbesnard or @mhidas I could have a look into the harvester, any suggestion if go for op

[2021-08-10 01:05] lbesnard commented on #335
closing since we're removing the collection https://github.com/aodn/content/issues/399

[2021-08-10 01:05] #335 closed

[2021-08-10 01:05] lbesnard commented on #196
closing since we're removing the collection https://github.com/aodn/content/issues/399

[2021-08-10 01:05] #196 closed

[2021-08-10 01:43] lbesnard commented on #414
This is now fixed on prod

[2021-08-10 01:43] #414 closed

[2021-08-10 01:48] atkinsn commented on #489
Its for a DOI. Hugo put the data up at the start of the year, and @leonardolaiolo swapped some files over recently.

[2021-08-10 01:52] leonardolaiolo commented on #489
Yes, the person wanted to update 2 or 3 files, I used async-upload - NetCDF had same structure and variables, just different numbers

[2021-08-10 02:13] lbesnard commented on #489
BTW, I'm very surprised as of why we use both acronyms and full names on s3. http://imos-data.s3-website-ap-southeast-2.amazonaws.com/

I personally think that using acronyms is a bad habit and won't make much sense in 50 years or so

[2021-08-10 02:25] lbesnard commented on #303
i don't think it is necessary to not harvest the TEMP variable. It will be just a bonus variable

[2021-08-10 02:56] bpasquer commented on #489
You're right.
I have done it in the past for universities, UWA and UNSW, but it's true that I did ask myself what UON was.
It is bad practices and we should avoid it as much as we can.

[2021-08-10 03:00] lbesnard commented on #489
it's maybe not too late. @leonardolaiolo  do you think you could see with @atkinsn a better name ? do a po_s3_del and repush the files ? I'll have a look at other folders to see if their data is linked in the harvest db

[2021-08-10 03:05] atkinsn commented on #489
All the other universities are acronyms aside from Macquarie. Shouldn't we just leave it be (the paper is currently in review), and next time spell it out...

[2021-08-10 04:06] bpasquer commented on #489
Maybe too late for some the datasets that have their URL referred to in publications

[2021-08-10 23:18] leonardolaiolo commented on #303
Cannot promote to prod until portal-rc get fixed (layers not available on portal-rc). Issue already open [here](https://github.com/aodn/issues/issues/1049).

[2021-08-11 04:23] #468 closed

[2021-08-11 04:25] lbesnard commented on #489
fix is made. wiating for someone to merge  https://github.com/aodn/chef-private/pull/3905

[2021-08-11 04:25] #489 closed

[2021-08-16 01:12] ggalibert commented on #488
@bpasquer can you please confirm which facilities were impacted by this problem (Matlab and FTP)? And if they all are now fixed? If so we can close this issue.

[2021-08-16 01:45] bpasquer commented on #488
SOOP-BA, SOOP-CO2 and ANFOG were affected. SOOP_CO2 and SOOP_BA have resolved the issue.
ANFOG will move away from FTP and implement rsync

[2021-08-22 23:29] #450 closed

[2021-08-23 04:18] lbesnard commented on #453
@mhidas not all the files in the folder you mentionned above have the same issue. I tried with the ```IMOS_ANMN-QLD_KUZ_20120130T120457Z_KIM050_FV01_KIM050-1202-ECO-FLNTUSB-25.5_END-20120807T114049Z_C-20171114T062340Z.nc``` and the ```create_burst_average_netcdf``` could create the file successfully

[2021-08-23 06:28] leonardolaiolo commented on #218
When downloading ```.csv``` files from the portal, all metadata headers are missing.
RAN facility is missing from [parameters_mapping](https://github.com/aodn/data-services/blob/master/PARAMETERS_MAPPING/parameters_mapping.csv), thus all products associated with it should be added. That would be okay to do but QC flags are recorded in the NetCDF files to be ```"Proposed IODE qc scheme March 2012"`

[2021-08-23 06:49] leonardolaiolo commented on #214
@mhidas can you confirm that the NetCDF standard name for ```TEMP``` is correct? Then I can update the CSV header.

[2021-08-24 01:31] mhidas commented on #214
Yes, the standard_name for TEMP is "sea_surface_temperature"

[2021-08-24 02:57] lbesnard commented on #453
https://github.com/aodn/python-aodndata/pull/279

[2021-08-24 06:23] leonardolaiolo commented on #217
@lbesnard or @atkinsn do you now what facility and subfacility are related to this ```Fast Repetition Rate Fluorometry (FRRF)``` data collected on the RV L'Astrolabe?

[2021-08-24 23:52] #214 closed

[2021-08-24 23:52] atkinsn commented on #217
@leonardolaiolo this is not IMOS data, it's IMAS data.
Also being discussed at present in this other issue - https://github.com/aodn/content/issues/420

[2021-08-24 23:52] #213 closed

[2021-08-24 23:55] leonardolaiolo commented on #217
Thanks @atkinsn!

[2021-08-25 02:10] leonardolaiolo commented on #217
So..I investigate this and I can create the headers for the CSV, I checked that the view created is good on my DB stack. On the other hand, I cannot test the changes are effective in my AODN portal stack, because, when I harvest from Geonetwork I need to update harvester External - AODN Portal IMAS (not Catalogue-imos portal records). This way I cannot see the collection in my AODN portal stack -

[2021-08-31 08:43] lbesnard commented on #420
depends if its fixed. will check tomorrow

[2021-09-01 22:37] #444 closed

[2021-09-24 00:50] ggalibert commented on #488
@bpasquer looks like ANFOG RT data is flowing again so I assume they can now upload their data with rsync? Can you please confirm and close?

[2021-09-24 03:36] bpasquer commented on #488
the upload of data from the glider facility has resumed. The upload is now done using rsync

[2021-09-24 03:36] #488 closed

[2021-09-30 05:49] lbesnard opened #490 "SOOP XBT NRT - missing vessel in vocab is blocking processing of new data"
the following vessel "**MV Hansa Offenburg**" is not in our AODN vocab.

the following files on 10-aws-syd can't be processed because of this:

[code]

[2021-10-06 02:52] #360 closed, assigned to lbesnard

[2021-10-11 01:14] ana-berger opened #491 "AODN_WAVE_DM - missing some WA-DoT sites data in DB-prod"
From the 29 WA-Department of Transport buoy sites, only 11 have data harvested in the database. The portal shows all the 29 sites but apart from those 11 sites (listed below), when the data is downloaded from the portal, it has empty columns. However, in THREDDS the files are complete and contain data.

PO-Backlog item for this in https://github.com/aodn/PO-Backlog/issues/2205

These are the sites

[2021-10-11 01:27] ana-berger opened #492 "AODN_WAVE_DM - filenames for the DES-Qld data files do not follow file naming convention"
The DES-Qld wave data files are the only ones between the other institutions from the National Wave Archive that contain temperature data. Based on the IMOS file naming convention, they should have a "T" in the filenames, although they do not. Something easy to be fixed in the script, as we produce the NetCDF files and their names.

Example of a current file name (1) and how it should be (2):

(1)

[2021-10-12 23:13] ana-berger opened #493 "AODN_WAVE_DM and ARDC - global attribute 'instrument' in BOM files should be called 'platform'"
From the discussion about data and metadata standards with the ARDC partners, it was decided that the attribute 'instrument' should be renamed to 'platform'. Review of previous wave collection will be part of a late stage of the ARDC project.

PO-Backlog item in https://github.com/aodn/PO-Backlog/issues/2206

[2021-10-15 00:16] ggalibert commented on #493
Why is this only relevant for BOM files?

What sort of value will you put in the attribute platform?

[2021-10-15 00:21] ggalibert commented on #493
Also add that instrument will now hold make and model info as per IMOS convention.

[2021-11-09 00:44] ggalibert commented on #420
@lbesnard has this been fixed?

[2021-11-11 03:35] mhidas opened #494 "ANMN files on S3 inconsistent with harvested files"
The `anmn_metadata` schema in the harvest database should contain metadata from every ANMN file that has been published. However, there seem to be significant inconsistencies, i.e. files that are present on S3 but not listed in the `anmn_metadata.anmn_all_map` view.

These files were either pushed to S3 without being harvested, or have been subsequently unharvested, but not removed from S3. Both o

[2021-11-11 04:03] mhidas commented on #494
A total of 458 netCDF files exist on S3 but are not listed in `anmn_all_map`. I have confirmed that all of these were harvested at some point, then subsequently unharvested (i.e. harvested as a deletion).

[2021-11-11 04:21] mhidas commented on #494
I do manually uharvest obsolete files regularly. I used to use the `po_s3_del` command to do this. That should leave a record of each deleted file in `/mnt/ebs/log/data-services/process.log`. However I can't find any such entries for many of the inconsistent files (e.g. a bunch of them were last indexed on 2021-07-21, but no matching entries exist in process.log on that date).

[2021-11-11 06:50] mhidas commented on #494
I tried to do a manual bulk (re)harvest of all these files. It failed while running the `anmn_ts` harvester. See `~mhidas/anmn.reharvest.log` (though not much info there). There's a chance this only happened because my ssh connection to 10-aws-syd timed out - I thought running the process within a `screen` session would protect against this, but maybe not??

[2021-11-16 22:29] mhidas commented on #494
I've managed to reharvest all the files, except those under the QLD sub-facility. For those, the `anmn_ts_timeseries` harvester is failing, with errors like this
First attempt:
[code]
Second attempt:
[code]

[2021-11-16 22:31] mhidas commented on #494
There seems to be plenty of disk space...
[code]

[2021-11-16 22:56] mhidas commented on #494
Some of the QLD temperature files have ~2 million samples (ever 10 sec!) - maybe that's too much for the harvester to handle?
[code]

[2021-11-16 23:30] mhidas commented on #494
Ah, this is probably related to the current issues with dbprod: https://github.com/aodn/issues/issues/1095

[2021-11-18 05:13] mhidas commented on #494
I've managed to reharvest all the above files.

[2021-11-18 05:13] #494 closed

[2021-11-18 06:52] mhidas opened #495 "AIMS_MMP_CTD pipeline configured to non-existent incoming dir"
From `/mnt/ebs/log/pipeline/watchservice/pipeline_watchservice-stderr.log` on 4-nec-hob:
[code]

Looks like the `path` specified in the [watch config](https://github.com/aodn/chef-private/blob/744f0c64ddc04f17b732608ab09e785e117b5b39/data_bags/imos_po_watches/AIMS_MMP_CTD.json#L3) doesn't match the directory created in [ftp_dir_tree](https://github.com/aodn/chef-private/blob/744f0c64ddc04f17b73260

[2021-11-25 01:57] ggalibert commented on #495
@lbesnard @mhidas can we close this?

[2021-11-25 02:20] #495 closed

[2022-03-02 03:31] mhidas opened #496 "aodndata: aatams_sattag unittests failing due to Python 3.5 incompatibility?"
I've just made some minor changes to the moorings pipeline code (https://github.com/aodn/python-aodndata/pull/298). The complete test suite for the package passes under python 3.8, and the majority of tests (including all the moorings ones) pass under 3.5, with one exception:
[code]

Unfortunately this is preventing the package from being built and deployed on Jenkins:
https://build.aodn.org.au/us

[2022-03-02 03:34] mhidas commented on #496
Looks like the problem is with `from testfixtures import LogCapture`

@evacougnon Would you be able to look into this?
@ggalibert We may need a bit of assistance from the Devs for this

[2022-03-06 23:00] mhidas commented on #496
@aodn/devops How far do you reckon we are from switching to Python 3.8 everywhere and forgetting about 3.5?

[2022-03-09 02:03] lbesnard commented on #496
@mhidas This python 3.5.2 limitation is definitely getting annoying, as well as the architecture review holding off any critical and essential changes such as updating the python virtual env.

We're getting to a point where we can't propagate bug fixes and pipeline code changes because of an archaic python version. This probably should be put in the issues repo since it's not a data one.

[2022-03-09 02:27] akashisama commented on #496
@mhidas Once all the nodes are updated to ubuntu 20 it should pretty trivial to clean out any remaining references to 3.5.

As far as pipelines, you should be good to stop testing 3.5 once pipeline box has been updated, which I'd guess will happen in two more iterations, going by the plan in https://github.com/aodn/backlog/issues/3878

[2022-03-09 05:48] mhidas commented on #496
I would probably wait until 10-aws-syd (i.e. prod pipeline _node_) has been updated to python 3.8

[2022-03-15 02:37] mhidas commented on #496
Fixed by https://github.com/aodn/python-aodndata/pull/301

[2022-03-15 02:43] #496 closed

[2022-03-30 02:02] atkinsn commented on #443
Update March 2022

- "Database of Marine Larval Fish Assemblages in Australian temperate and subtropical waters 1983 - ongoing" is about to be published as part of Water Sampling Database

[2022-04-04 05:23] bpasquer opened #497 "Discrepancies between S3 and DB - Manly Hydraulics waverider files"
The MHL collection consist of 119 files on S3, but 70 of these files have been unharvested from the DB.
There is no trace of a manual deletion in the logs, nor trace of the deletion in the talend logs.

This issue is very similar to https://github.com/aodn/content/issues/494 , which means it is the second time we notice these inconstencies.

Only an audit of the files on S3 and of the indexed file

[2022-04-04 05:25] bpasquer commented on #497
The files have been succesfully reharvested in the DB.
Closing

[2022-04-04 05:25] #497 closed, assigned to nobody

[2022-05-30 05:10] lbesnard opened #498 "ARGO layer - dropbdown filters not working"
On both RC and portal Prod:
https://portal-rc.aodn.org.au/search?uuid=2223b7f2-4bac-4ff1-9b1e-aae9ac58deef
https://portal.aodn.org.au/search?uuid=2223b7f2-4bac-4ff1-9b1e-aae9ac58deef

The drop down filter options (data centre name, platform number, realtime/delayed) are greyed out with no values available.

There are 4 wfs for 1 wms all set up under
https://github.com/aodn/geoserver-config/tree/ma

[2022-06-07 03:42] lbesnard opened #499 "SOOP XBT DM - NullPointerException in Talend"
Three files under ```/mnt/ebs/error/SOOP_XBT_DM``` on ```pipeline-prod-aws-syd``` machine are failing:
- IMOS_SOOP-XBT_T_20210603T062400Z_PX30-31_FV01_ID-89013788.nc
- IMOS_SOOP-XBT_T_20210903T123500Z_PX32_FV01_ID-89013845.nc
- IMOS_SOOP-XBT_T_20211105T021200Z_PX32_FV01_ID-89013862.nc

The part which is failing is the ```SOOP_XBT_DM_Data_Harvest``` subjob in the ```SOOP_XBT_DM``` talend harvester,

[2022-06-08 02:14] lbesnard opened #500 "ACORN DM - NetCDF errors"
The following ACORN DM ```IMOS_ACORN_V_20210703T090000Z_CORL_FV01_1-hour-avg.nc``` never made it to our storage and the portal. The reason being many missing global attributes.

These are the only global attributes available:
[code]

Could the file be fixed @scosoli

[2022-06-08 02:15] lbesnard commented on #500
https://github.com/aodn/PO-Backlog/issues/2759

[2022-06-08 02:31] #483 closed

[2022-06-08 02:31] #484 closed

[2022-06-08 02:31] #409 closed

[2022-06-08 02:40] lbesnard opened #501 "ACORN NRT - corrupted NetCDF"
@scosoli

the following ACORN NRT files were corrupted, either during the upload or at your source:

[code]

Could they please be re-uploaded?

Cheers

[2022-06-08 02:41] lbesnard commented on #501
https://github.com/aodn/PO-Backlog/issues/2759

[2022-06-08 02:51] lbesnard opened #502 "SRS ALTIMETRY - fix NetCDF"
The following file was never fixed by the faciliity

[code]

It was quicker to just fix it myself:
[code]

ref: https://github.com/aodn/PO-Backlog/issues/2759

[2022-06-08 02:51] #502 closed, assigned to lbesnard

[2022-07-14 00:58] ggalibert commented on #499
@lbesnard would you be able to copy paste the exact error message?

[2022-07-14 01:02] ggalibert opened #503 "SOOP XBT DM - measured parameters such as TEMP should not have axis and positive variable attributes"
This may be true for other non DM SOOP XBT. I have noticed that vaiables other than DEPTH have variable attribute axis and positive set to Z and down respectively. This is not correct. Only a vertical variable such as DEPTH should hold these attributes.

ex. from http://thredds.aodn.org.au/thredds/catalog/IMOS/SOOP/SOOP-XBT/DELAYED/Line_PX30-31_Brisbane-Noumea-Suva/2022/catalog.html?dataset=IMOS/S

[2022-07-14 01:23] ggalibert opened #504 "The Victorian bathy dataset is not a cloud optimised .tif and the .nc file is enormous"
From issues created by [alexgleith](https://github.com/alexgleith): aodn/issues#1224

In short, I think we should delete the .nc file, as it's redundant and 60 times the size of the .tif file.

I also think that it's important to create overviews for the .tif file.

Using the command `rio cogeo create Victorian-coast_Bathy_10m.tif Victorian-coast_Bathy_10m_cog.tif` resulted in a minor file size re

[2022-07-14 01:23] ggalibert commented on #504
Nat:

[2022-07-14 01:23] ggalibert commented on #504
@alexgleith data issues are lodged in https://github.com/aodn/content/issues. I will close this one and clone it to content.

[2022-07-14 01:25] alexgleith commented on #504
I was thinking maybe we should simply upload another file into this folder, with `_cog.tif` at the end.

It's a little thing, but makes the .tif file much easier to use.

[2022-07-14 01:27] ggalibert commented on #504
Send it to me and I should be able to add the cog version on S3.

[2022-07-14 01:30] ggalibert commented on #504
For info on why NetCDF and size:

Bathymetry data is useful in oceanography for running oceanographic models. These models don't know how to read geotif, usually they get ASCII or NetCDF files, hence my choice of producing a NetCDF file.

The geotif file provides earth coordinates and only the bounds which is clever because you don't have to store all the values if in earth coordinates the grid po

[2022-07-14 01:31] alexgleith commented on #504
It's still an 800 MB file. Might be better for me to just upload direct to S3?

Or if you have a Python environment, you can install `rio_cogeo` and make the file using `rio cogeo create Victorian-coast_Bathy_10m.tif Victorian-coast_Bathy_10m_cog.tif`.

[2022-07-14 01:43] atkinsn commented on #504
AGAIN, we need to make sure we liase with the relevant researcher at Deakin, this is NOT our data to make decisions on, we are just hosting it on their behalf. I worked with the researcher to integrate this in the past, so I need to be involved.

[2022-07-14 05:51] alexgleith commented on #504
@atkinsn is going to email Deakin and check that they're ok with us uploading an alternative version of the .tif. They'll need to update their metadata record if we do.

[2022-08-03 23:20] atkinsn commented on #504
We have approval from the data contributors for the addition of the additional file.

Therefore now @ggalibert
- who is creating this file?
- who is going to upload it to the storage?

I will coordinate the update of the metadata record at Deakin and here (due to Portal hack)

[2022-08-04 06:00] ggalibert commented on #504
What this refers to is that normally we should harvest the content of the Deakin metadata record (so only one update required) but if I'm correct this automated harvest has been intentionally disabled due to some incompatibility during the Geonetwork upgrade. At that time, to overcome this blocker it has been decided that we would keep a copy of the Deakin record and that we would manage it manual

[2022-08-09 02:21] ggalibert commented on #504
@alexgleith created the file. It would be good if he could send it to @evacougnon and share with her some info or script about how the conversion was done for her to be able to re-produce in the future. I will pass on to @evacougnon my other scripts that created the NetCDF files.

@evacougnon will upload the file to /mnt/ebs/incoming/Deakin/bathymetry/incoming

[2022-08-09 04:52] alexgleith commented on #504
Hey @evacougnon if you have somewhere you can install a Python package, do `pip install rio-cogeo` and then download the original .tif and run this in the same folder `rio cogeo create Victorian-coast_Bathy_10m.tif Victorian-coast_Bathy_10m_cog.tif`

[2022-08-11 06:52] lbesnard opened #505 "SRS OC LJCO - views with terrible performance"
There are a few new views for the SRS OC LJCO collection with a significant amount of rows.

However, their performance is currently chocking, most likely due to bad indexes.

See for example
srs_oc_ljco_wws.srs_oc_ljco_wws_all_products_timeseries_map
srs_oc_ljco_wws.srs_oc_ljco_wws_daily_wqm_fv01_timeseries_data

@rickpollock213 any help would be greatly appreciated!

[2022-08-15 00:34] rickpollock213 commented on #505
Here is an example query that takes a very long time. It takes a long time because it performs a sequential scan on a 46 GB table, srs_oc_ljco_wws.measurements_hourly_daily_gridded.
[code]
The execution plan shows where the greatest cost lies - the seq scan.
[code]
It performs this seq scan several times because the view it is querying is a UNION ALL on views that reference the table.

The query p

[2022-08-15 01:12] lbesnard commented on #505
but the geometry is a point:

see

[code]

[2022-08-17 03:02] ggalibert opened #506 "AIMS NRT datasets FAIMMS SOOP TRV and NRS YON/DAR not updated since 28/05"
See PR https://github.com/aodn/data-services/pull/1104 to merge and deploy to prod.

[2022-08-18 03:42] evacougnon commented on #504
File on s3 now: http://imos-data.s3-website-ap-southeast-2.amazonaws.com/?prefix=Deakin_University/bathymetry/

[2022-08-18 04:44] alexgleith commented on #504
Fantastic, @evacougnon

I've tested with: `rio cogeo validate https://s3-ap-southeast-2.amazonaws.com/imos-data/Deakin_University/bathymetry/Victorian-coast_Bathy_10m_cog.tif`

And it works!

[2022-08-19 01:01] #504 closed, assigned to nobody

[2022-08-24 01:04] mhidas opened #507 "AIMS_MMP_CTD pipeline pointing to non-existent incoming dir"
Looks like this pipeline recently got deployed to prod (https://github.com/aodn/chef-private/pull/4201) but also had a last-minute change to the incoming directory name (https://github.com/aodn/chef-private/pull/4058). However, the [watch config](https://github.com/aodn/chef-private/blob/master/data_bags/imos_po_watches/AIMS_MMP_CTD.json) wasn't updated, so this pipeline can't be set up.

Unfortun

[2022-08-24 01:09] mhidas commented on #507
This should fix it https://github.com/aodn/chef-private/pull/4204

[2022-08-25 01:18] ggalibert commented on #507
@mhidas I assume we can now close this?

[2022-08-25 01:20] ggalibert commented on #506
Still a problem there, last update from @bpasquer is that the files produced by AIMS are no longer passing the CF checks:

[2022-08-25 01:40] mhidas commented on #507
Fixed in https://github.com/aodn/chef-private/pull/4207

[2022-08-25 01:40] #507 closed, assigned to nobody

[2022-08-26 06:42] ggalibert opened #508 "Microdebris featureInfo pop-up window shows too many columns"
This would need to be progresed with AIMS data centre (Mark Rehbein) and the Micro plastic facility leader Cherie Motti C.Motti@aims.gov.au

From Cherie:

See also https://github.com/aodn/issues/issues/1250, we would rather not touch the portal code to add a horizontal scrollbar, instead it would be best to summarise the number of columns to be shown.

[2022-08-29 01:54] mhidas commented on #508
Perhaps also worth pointing out that the pop-up window can be maximsed by clidcking the middle button in the top right corner of the window.

[2022-09-14 02:43] ggalibert commented on #508
Facility contacted on 07/09/2022.

[2022-09-14 02:46] ggalibert commented on #506
https://github.com/aodn/PO-Backlog/issues/2931

[2022-09-14 03:00] ggalibert opened #509 "SOOP BGC -time CO2 data flow interrupted since May 2022"
See https://github.com/aodn/PO-Backlog/issues/2822

[2022-09-16 00:41] ggalibert commented on #492
This will become irrelevant when publishing new wave dataset following ARDC project.

[2022-09-16 00:42] ggalibert commented on #493
This will become irrelevant when publishing new wave dataset following ARDC project.

[2022-09-16 00:45] ggalibert commented on #491
This will become irrelevant when publishing new wave dataset following ARDC project.

[2022-09-20 23:56] ggalibert opened #510 "Argo core inlcude BGC variables definitions in headers while shouldn't"
See
[IMOS_-_Argo_Profiles_-_core_data.csv](https://github.com/aodn/content/files/9611896/IMOS_-_Argo_Profiles_-_core_data.csv) and below.

DOXY_ADJUSTED, DOXY, TEMP_DOXY_ADJUSTED and TEMP_DOXY should not be listed in the header since they are not part of the column labels: FID,url,size,data_centre_name,oxygen_sensor,platform_number,cycle_number,direction,data_state_indicator,data_mode,juld,juld_qc

[2022-09-20 23:59] alexgleith commented on #510
Should we check a few other products? Hopefully this is isolated just to this one :-)

[2022-09-21 00:10] alexgleith commented on #510
@mhidas says:

For this case, perhaps it's better to have no headers rather than headers that are wrong for some of the data?

[2022-09-28 05:21] ggalibert opened #511 "NRMN metadata records don't seem to point to correct WMS"
For [Survey metadata](http://catalogue-imos.aodn.org.au/geonetwork/srv/eng/catalog.search#/metadata/997c2e15-b345-438f-afac-49a4ac19be38) for example we can see
![Screenshot from 2022-09-28 15-16-46](https://user-images.githubusercontent.com/3498686/192693548-220f4d89-d0cd-49fd-b913-57fe965b35ec.png)
If you click on "Add service layer to map", it won't work. In reality, instead of `Survey Informat

[2022-09-28 05:29] atkinsn commented on #511
This is portal configuration in metadata records in GN. In GN3 these 'add to maps' don't work. Not just NRMN, its all metadata records.
The top WMS is a better presentation and is more meaningful in GN than the presentation from the "older" metadata record for ANFOG.

[2022-09-28 05:30] alexgleith commented on #511
This is caused by the link to WMS and WFS being HTTP links, whereas they should be HTTPS.

The HTTP links work fine when you view the page in HTTP, but if you view it in HTTPS then it won't follow them. (It doesn't allow you to view non-secure resources on a secure site.)

So, quick fix is to change the URIs to HTTPS.

And there's another issue, which is that the description of the WMS entry needs

[2022-09-28 05:42] alexgleith commented on #511
Aha, that's the problem preventing us being able to add catalogue items to the map!

There's HTTP/HTTPS, for one thing. But the other is configuring the layer name for the WMS entries.

For the Gliders (e.g., this one http://catalogue-imos.aodn.org.au/geonetwork/srv/eng/catalog.search#/metadata/37662a66-ec3a-4ece-9db0-31930c181725) the "add to map" works for WMS. And note that it has the URL and t

[2022-10-05 21:35] ggalibert commented on #510
In that case I would say that more is better than less. @lbesnard what do you think?

[2022-10-05 21:40] #506 closed, assigned to bpasquer

[2022-10-10 05:56] ggalibert commented on #510
I can confirm this is because Argo BGC and Argo Core share the same db schema. Header is critical to understand the content of the data so won't be removed. I will close this with a pause label to highlight the fact that this is something that needs to be considered in the future architecture.

[2022-10-10 05:56] #510 closed, assigned to lbesnard

[2022-10-13 06:12] ggalibert opened #512 "IMOS NetCDF conventions links broken"
Some links on the conventions document will need to be fixed when we eventually review the document.

[2022-10-14 02:43] atkinsn commented on #511
A glitch in the XML of all the NRMN metadata records, has produced the WMS 'add service layer to map' being shown in the UI, which prevents the layer being added correctly to the map in GN. I have fixed the XML of all these records, and they now work.

[2022-10-14 02:43] #511 closed, assigned to bpasquer, atkinsn

[2022-10-14 03:07] alexgleith commented on #511
Is this the correct layer now @gsatimos?

I guess there's a few layers, should we add all of them?

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/3445853/195752912-9bbc19c4-a7fe-4721-b165-c160ef0019ea.png">

[2022-10-14 03:07] alexgleith commented on #511
Also @atkinsn can we set the layer name (or layer names) for all the WFS layers too?

Currently it's not set correctly, see:

<img width="772" alt="image" src="https://user-images.githubusercontent.com/3445853/195753219-2f4b33b4-9998-4058-a962-5339eb22e87a.png">

[2022-10-14 03:37] atkinsn commented on #511
We are aware of this display issue, but no GeoNetwork work is being done until after the architecture review

[2022-10-14 04:14] alexgleith commented on #511
Ah I see, there's the same issue for gliders

<img width="727" alt="image" src="https://user-images.githubusercontent.com/3445853/195761083-282f5e27-4cdb-4416-b075-5eea5dd379c5.png">

[2022-10-16 22:17] mhidas commented on #512
@ggalibert Any more info on which particular links are broken?

[2022-10-24 20:54] gsatimos commented on #511
not sure I'm the person to ask on this @alexgleith . Maybe @nspool or @bpasquer?

[2022-10-24 22:04] bpasquer commented on #511
WMS layer names have been fixed by @atkinsn.
Fixing WFS layer name would require GN work but is not a priority.

[2022-10-25 00:49] atkinsn commented on #407
Work has now been done, and absorption parameters show up under both categories

[2022-10-31 06:07] lbesnard opened #513 "AODN WAVE NRT - investigation of slow harvester"
@bpasquer @ana-berger I'm trying to understand why the harvester is slow. While doing so, I investigated the content of ```aodn_wave_nrt_v2_timeseries_map```.

The following query is just looking at the NRT map view for one ```file_id``` only. There is a total of **290** rows for one file !! I think this is probably the cause of slowing things down, potentially with the spatial extent component.

[2022-10-31 06:13] lbesnard commented on #513
https://github.com/aodn/harvesters/pull/982

[2022-10-31 07:30] lbesnard commented on #513
by removing the spatial extent component, files now take a few seconds to be ingested, so the issue is indeed in the _map layer

[2022-11-01 08:17] lbesnard commented on #513
Also, looking at the pipeline logs, I was suprised to see that some files such as [UWA_20200101T000000Z_GOODRICH-BANK-OLD_RT_WAVE-PARAMETERS_monthly.nc](https://s3-ap-southeast-2.amazonaws.com/imos-test-data/UWA/WAVE-BUOYS/REALTIME/WAVE-PARAMETERS/GOODRICH-BANK-OLD/2020/01/UWA_20200101T000000Z_GOODRICH-BANK-OLD_RT_WAVE-PARAMETERS_monthly.nc) were being created/ingested over and over, especially lo

[2022-11-01 22:27] ana-berger commented on #513
Some buoys are supposed to not have 'deployment_start_date' as we didn't get that metadata from the data provider. @bpasquer can confirm that but it means the buoys is not active at the moment.

[2022-11-02 01:40] lbesnard opened #514 "AODN WAVE NRT - Time not strictly monotonic"
On pipeline-rc, see the following files:
[code]

This files were downloaded as is from one of the ARDC API, however their time is not strictly monotonic

see for example the time values below where **2022-10-30 16** is repeated twice
[code]

The handler code is capable of dealing with this duplicate value only if all the other variables have an identical value at the same index. However this is no

[2022-11-02 06:27] lbesnard commented on #513
I created some function to easily check the latest logs @bpasquer @ana-berger
[code]

[2022-11-02 22:44] bpasquer commented on #514
The issue is present in the WFS data. All we can do is raise an error when it happens.
I have contacted the BOM to let them now of the issue.

[2022-11-03 01:02] lbesnard commented on #514
fix here: https://github.com/aodn/data-services/pull/1121

[2022-11-14 03:10] bpasquer commented on #514
Response from BOM:

[2022-11-14 03:19] bpasquer commented on #513
Because the _map view contains for each site wave data for the last 7 days it slows down the update of the spatial extent  (some site have data up to 48 data per day). The UpdateSpatialExtent  component of the harvester has been disabled and the performance issue resolved.
The spatial extent of existing moored wave buoys is not expected to change. When new buoys are added,  the spatial extent can

[2022-11-14 03:19] #513 closed, assigned to nobody

[2022-11-14 03:43] bpasquer opened #515 "AODN Wave NRT : mapping of wave data in the _map view not set correctly for Pilbara Port site"
As a consequence significant wave height an mean period is not displayed in the content ftl.

The configuration of PPA wave buoy is not set since we are waiting for metadata for their buoy.
However in the meantime , we could assume that the wave buoy is a datawell waverider.
A correction should be done to the  OMC variable lookup : The variable for significant wave height must be WSSH and mean per

[2022-11-15 00:45] bpasquer commented on #514
Update from BOM:

[2022-11-15 00:46] bpasquer commented on #514
Closing .
Data from Albatross bay is now monotonic

[2022-11-15 00:46] #514 closed, assigned to bpasquer, ana-berger

[2022-11-17 04:18] ggalibert commented on #512
In chapter 2.1, links to the CF conventions seem to be broken. In addition, it would be good to just test all links in the document.

[2022-11-17 22:41] bpasquer commented on #515
Issue resolved by https://github.com/aodn/data-services/pull/1125
https://github.com/aodn/data-services/pull/1126
and https://github.com/aodn/data-services/pull/1127

[2022-11-17 22:41] #515 closed, assigned to bpasquer

[2022-11-22 01:26] ggalibert commented on #493
@ana-berger I think this is now obsolete and can be closed.

[2022-11-22 01:27] ggalibert commented on #492
@ana-berger I think this is now obsolete and can be closed.

[2022-11-22 01:28] #493 closed

[2022-11-22 01:28] ggalibert commented on #491
@ana-berger this may now be obsolete and could be closed. Please check.

[2022-11-22 01:29] #492 closed

[2022-11-22 03:48] #491 closed